<div class="page-header">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>

<script type="text/javascript">
    window.onload = function() {
      return CountryStateSelect({
        chosen_ui: false,
        country_id: "user_country",
        state_id: "user_state",
        state_place_holder: ""
      });
    };
</script>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :username, required: true, autofocus: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

    <% if current_user and (current_user.has_paper_copy? or current_user.had_paper_copy?) %>
      <h3>Paper subscription address details</h3>
      <p>Please contact the <a href="https://subscribe.newint.org/contact-us/">UK office</a> to update your address details.</p>
      <%= f.input :title, readonly: true %>
      <%= f.input :first_name, readonly: true %>
      <%= f.input :last_name, readonly: true %>
      <%= f.input :company_name, readonly: true %>
      <%= f.input :address, readonly: true %>
      <%= f.input :city, label: 'Suburb or Town', readonly: true %>
      <%= f.input :postal_code, readonly: true %>
      <%= f.input :state, CountryStateSelect.state_options({ form: f, field_names: { country: :country, state: :state }, readonly: true, disabled: true }) %>
      <%= f.input :country, collection: CountryStateSelect.countries_collection.sort_by{|a| a.first.downcase}, readonly: true, disabled: true %>
      <%= f.input :phone, readonly: true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: 'btn btn-secondary' %>
    <%= link_to "Back", :back, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>

<h3>Delete my account</h3>

<p>Unhappy? <a href="mailto:subscribe@newint.com.au?Subject=Please delete my NI Digital Subscription account because...">We'd love to know why</a>.</p>
<!-- <%= link_to "Cancel my account", registration_path(resource_name), confirm: "Are you sure?", method: :delete, class: 'btn btn-danger' %> -->
