<div class="tax-invoice">
  <div class="page-header article-title">
    <h1>New Internationalist Publications Pty Ltd</h1>
    <%= link_to retina_image_tag(@issue.cover_url(:home).to_s, alt: "NI #{@issue.number} - #{@issue.title} - #{@issue.release.strftime("%B, %Y")}", title: "NI #{@issue.number} - #{@issue.title} - #{@issue.release.strftime("%B, %Y")}", rel: "tooltip", width: "150px"), issue_path(@issue) %>
    <h2><%= raw(ENV["STREET_ADDRESS"]) %></h2>
    <p>
      ABN 11 005 523 124<br />
      ACN 005 523 124<br />
      Email: <a href="mailto:billing@newint.com.au">billing@newint.com.au</a>
    </p>
  </div>

  <h5><b>Tax invoice</b>: <%= tax_invoice_number(@subscription) %></h5>

  <dl class='dl-horizontal'>
    <dt>Date:</dt>
    <dd><%= purchase_date_as_string(@subscription.purchase_date) %></dd>
    <dt>Name:</dt>
    <dd><%= @user.full_name.blank? ? @user.username : @user.full_name %> (<%= @user.email %>)</dd>
    <dt>Description:</dt>
    <dd><%= pluralize(@subscription.duration, 'month') %> subscription to New Internationalist Magazine</dd>
    <dt>Amount:</dt>
    <dd><%= number_to_currency(cents_to_dollars(@subscription.price_paid), unit: '$') %> (including GST <%= number_to_currency(cents_to_dollars_gst(@subscription.price_paid), unit: '$') %>)</dd>
  </dl>

  <p>Thank you for subscribing to New Internationalist magazine. We're a proudly independent non-for-profit publisher funded solely by subscribers, so we really appreciate your support.</p>

  <p>
    <% if @user.subscriber? and @user.is_recurring? %>
    <b>Your next auto-debit will be on</b>:
    <% else %>
    <b>Your subscription is due for renewal</b>:
    <% end %>
    <% if @user.paper_only_subscription_valid? %>
      <%= @user.expiry_date_paper_only.try(:strftime, "%e %B, %Y") %><br /><br />
      We've also given you a free 3-month trial to the digital edition, which will expire on:<br />
      <%= @user.expiry_date.try(:strftime, "%e %B, %Y") %>
    <% else %>
      <%= @user.expiry_date.try(:strftime, "%e %B, %Y") %>
    <% end %>
  </p>
</div>
