<% if can? :read, article %>
  <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
  <% if not article.featured_image.blank? %>
    <%= link_to retina_image_tag(article.featured_image_url(:thumb).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.featured_image_caption)}", :title => "#{strip_tags(article.featured_image_caption)}", :size => "80x80"), issue_article_path(@issue,article) %>
    <meta itemprop="url" content="<%= article.featured_image_url(:fullwidth).to_s %>">
    <meta itemprop="width" content="1890">
    <meta itemprop="height" content="800">
  <% elsif article.first_image %>
    <%= link_to retina_image_tag(article.first_image.data_url(:thumb).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.title)}", :title => "#{strip_tags(article.title)}", :size => "80x80"), issue_article_path(@issue,article) %>
    <meta itemprop="url" content="<%= article.first_image.data_url.to_s %>">
    <meta itemprop="width" content="<%= article.first_image.width %>">
    <meta itemprop="height" content="<%= article.first_image.height %>">
  <% elsif article.has_category('/columns/wordpower/') %>
    <%= link_to retina_image_tag('word-power-80x80.jpg', :class => 'article-thumb', :alt => "#{strip_tags(article.title)}", :title => "#{strip_tags(article.title)}", :size => "80x80"), issue_article_path(@issue,article) %>
  <% end %>
  </div>
  <h4 itemprop="name"><span itemprop="headline"><%= link_to article.title, issue_article_path(@issue,article) %></span></h4>
<% else %>
  <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
  <% if not article.featured_image.blank? %>
    <%= retina_image_tag(article.featured_image_url(:thumb).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.featured_image_caption)}", :title => "#{strip_tags(article.featured_image_caption)}", :size => "80x80") %>
    <meta itemprop="url" content="<%= article.featured_image_url(:fullwidth).to_s %>">
    <meta itemprop="width" content="1890">
    <meta itemprop="height" content="800">
  <% elsif article.first_image %>
    <%= retina_image_tag(article.first_image.data_url(:thumb).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.title)}", :title => "#{strip_tags(article.title)}", :size => "80x80") %>
    <meta itemprop="url" content="<%= article.first_image.data_url.to_s %>">
    <meta itemprop="width" content="<%= article.first_image.width %>">
    <meta itemprop="height" content="<%= article.first_image.height %>">
  <% end %>
  </div>
  <h4 itemprop="name"><span itemprop="headline"><%= article.title %></span></h4>
<% end %>
<p><%= simple_format article.teaser, :itemprop => "description" %></p>
<meta itemprop="url" content="<%= issue_article_url(@issue,article) %>">
<meta itemprop="dateCreated" content="<%= article.issue.release.strftime("%e %B %Y") %>">
<meta itemprop="datePublished" content="<%= article.issue.release.strftime("%e %B %Y") %>">
<meta itemprop="dateModified" content="<%= article.updated_at.strftime("%e %B %Y") %>">
<meta itemprop="mainEntityOfPage" content="<%= issue_article_url(@issue,article) %>">
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="<%= asset_url("favicon-196x196.png") %>">
    <meta itemprop="width" content="196">
    <meta itemprop="height" content="196">
  </div>
  <meta itemprop="name" content="New Internationalist">
</div>
<div itemprop="author" itemscope itemtype="https://schema.org/Person">
  <meta itemprop="name" content="<%= article.author %>">
</div>

<% if can? :manage, Article %>
  <ul class="list-unstyled">
  <% article.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
  </ul>
  <p><%= article.publication %></p>
<% end %>
<p><% if can? :read, article %>
<%= link_to 'Read more', issue_article_path(@issue,article), :class => 'btn btn-default btn-xs' %>
<% else %>
  <% if article.keynote? %>
    <%= link_to "Buy this issue for $#{cents_to_dollars(@issue.price)}", new_issue_purchase_path(@issue), :class => 'btn btn-xs btn-primary' %>
    <%= link_to "Buy a subscription from $#{cents_to_dollars(Subscription.calculate_subscription_price(3,autodebit: true))}", page_path('subscribe'), :class => 'btn btn-xs btn-info' %>
  <% else %>
    <%= link_to 'Buy this issue', new_issue_purchase_path(@issue), :class => 'btn btn-xs btn-primary' %>
  <% end %>
<% end %>
<% if can? :update, @article %><%= link_to 'Edit', edit_issue_article_path(@issue,article), :class => 'btn btn-primary btn-xs' %><% end %>
<% if can? :destroy, @article %><%= link_to 'Destroy', issue_article_path(@issue,article), data: { confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-xs btn-danger' %><% end %></p>
