<% if can? :read, article %>
  <% if not article.featured_image.blank? %>
    <%= link_to retina_image_tag(article.featured_image_url(:thumb).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.featured_image_caption)}", :title => "#{strip_tags(article.featured_image_caption)}", :size => "80x80", :itemprop => "image"), issue_article_path(@issue,article) %>
  <% elsif article.first_image %>
    <%= link_to retina_image_tag(article.first_image.data_url(:thumb).to_s, :class => 'article-thumb', :alt => "", :title => "", :size => "80x80", :itemprop => "image"), issue_article_path(@issue,article) %>
  <% end %>
  <h4 itemprop="name"><%= link_to article.title, issue_article_path(@issue,article) %></h4>
<% else %>
  <% if not article.featured_image.blank? %>
    <%= retina_image_tag(article.featured_image_url(:thumb).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.featured_image_caption)}", :title => "#{strip_tags(article.featured_image_caption)}", :size => "80x80", :itemprop => "image") %>
  <% elsif article.first_image %>
    <%= retina_image_tag(article.first_image.data_url(:thumb).to_s, :class => 'article-thumb', :alt => "", :title => "", :size => "80x80", :itemprop => "image") %>
  <% end %>
  <h4 itemprop="name"><%= article.title %></h4>
<% end %>
<p><%= simple_format article.teaser, :itemprop => "description" %></p>
<p class="hide-meta" itemprop="url"><%= issue_article_url(@issue,article) %></p>
<p class="hide-meta" itemprop="author"><%= article.author %></p>
<p class="hide-meta" itemprop="dateCreated"><%= article.issue.release.strftime("%e %B %Y") %></p>
<% if can? :manage, Article %>
  <ul class="list-unstyled">
  <% article.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
  </ul>
  <p><%= article.publication %></p>
<% end %>
<p><% if can? :read, article %>
<%= link_to 'Read more', issue_article_path(@issue,article), :class => 'btn btn-default btn-xs' %>
<% else %>
  <% if article.keynote? %>
    <%= link_to "Buy this issue for $#{cents_to_dollars(@issue.price)}", new_issue_purchase_path(@issue), :class => 'btn btn-xs btn-primary' %>
    <%= link_to "Buy a subscription from $#{cents_to_dollars(Subscription.calculate_subscription_price(3,autodebit: true))}", page_path('subscribe'), :class => 'btn btn-xs btn-info' %>
  <% else %>
    <%= link_to 'Buy this issue', new_issue_purchase_path(@issue), :class => 'btn btn-xs btn-primary' %>
  <% end %>
<% end %>
<% if can? :update, @article %><%= link_to 'Edit', edit_issue_article_path(@issue,article), :class => 'btn btn-primary btn-xs' %><% end %>
<% if can? :destroy, @article %><%= link_to 'Destroy', issue_article_path(@issue,article), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-xs btn-danger' %><% end %></p>
