<%= simple_form_for @issue, html: { class: 'form-horizontal' }, html: {multipart: true} do |f| %>

  <%= f.input :title %>
  <%= f.input :number, as: :integer %>
  <%= f.input :editors_name %>
  <%= f.input :editors_photo %>
  <%= f.input :editors_letter %>
  <%= f.input :cover %>
  <%= f.input :release, as: :datetime %>
  <%= f.input :email_text %>
  <%= f.input :trialissue, as: :boolean %>
  <%= f.input :published, as: :boolean %>
  <%= f.input :digital_exclusive, as: :boolean %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), :back, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
