<!-- START TEMPLATE -->

<table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table">
  <tbody><tr>
    <td align="center" bgcolor="#ececec">
          <table class="w640" style="margin:0 10px;" width="640" cellpadding="0" cellspacing="0" border="0">
              <tbody><tr><td class="w640" width="640" height="20"></td></tr>
                
              <tr>
                  <td class="w640" width="640">
                        <table id="top-bar" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#B5B5B5">
    <tbody><tr>
        <td class="w15" width="15"></td>
        <td class="w325" width="350" valign="middle" align="left">
            <table class="w325" width="350" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr><td class="w325" width="350" height="8"></td></tr>
            </tbody></table>
            <div class="header-content"><webversion>Web Version</webversion><span class="hide">&nbsp;&nbsp;|&nbsp; <unsubscribe>Unsubscribe</unsubscribe></span></div>
            <table class="w325" width="350" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr><td class="w325" width="350" height="8"></td></tr>
            </tbody></table>
        </td>
        <td class="w30" width="30"></td>
        <td class="w255" width="255" valign="middle" align="right">
            <table class="w255" width="255" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr><td class="w255" width="255" height="8"></td></tr>
            </tbody></table>
            <table cellpadding="0" cellspacing="0" border="0">
    <tbody><tr>
        
        <td valign="middle"><fblike><img src="https://img.createsend1.com/img/templatebuilder/like-glyph.png" border="0" width="8" height="14" alt="Facebook icon"=""></fblike></td>
        <td width="3"></td>
        <td valign="middle"><div class="header-content"><fblike>Like</fblike></div></td>
        
        
        <td class="w10" width="10"></td>
        <td valign="middle"><tweet><img src="https://img.createsend1.com/img/templatebuilder/tweet-glyph.png" border="0" width="17" height="13" alt="Twitter icon"=""></tweet></td>
        <td width="3"></td>
        <td valign="middle"><div class="header-content"><tweet>Tweet</tweet></div></td>
        
        
        <td class="w10" width="10"></td>
        <td valign="middle"><forwardtoafriend lang="en"><img src="https://img.createsend1.com/img/templatebuilder/forward-glyph.png" border="0" width="19" height="14" alt="Forward icon"=""></forwardtoafriend></td>
        <td width="3"></td>
        <td valign="middle"><div class="header-content"><forwardtoafriend lang="en">Forward</forwardtoafriend></div></td>
        
    </tr>
</tbody></table>
            <table class="w255" width="255" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr><td class="w255" width="255" height="8"></td></tr>
            </tbody></table>
        </td>
        <td class="w15" width="15"></td>
    </tr>
</tbody></table>
                        
                    </td>
                </tr>
                <tr>
                <td id="header" class="w640" width="640" align="center" bgcolor="#D71A21">
    
    <div align="center" style="text-align: center">
        
        <a href="<%= root_url %>"><img id="customHeaderImage" label="Header Image" editable="true" width="640" src="/assets/email-header@2x.gif" class="w640" border="0" align="top" style="display: inline"></a>
        
    </div>
    
    
</td>
                </tr>
                
                <tr id="simple-content-row"><td class="w640" width="640" bgcolor="#ffffff">
    <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
            <td class="w30" width="30"></td>
            <td class="w580" width="580">
                <repeater>
                    
                    <layout label="Text only">
                        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody><tr>
                                <td class="w580" width="580">
                                    <p align="center"><%= link_to image_tag(@issue.cover_url(:thumb2x).to_s, :alt => "Read New Internationalist magazine '#{@issue.title}' on-line.", :title => "Read New Internationalist magazine '#{@issue.title}' on-line.", :size => "141x200", :class => 'magazine-cover'), issue_url(@issue) %></p>
                                    <p align="center">
                                        <%= link_to image_tag("iphone@2x.png", :alt => "Read New Internationalist magazine '#{@issue.title}' on your iPad or iPhone.", :title => "Read New Internationalist magazine '#{@issue.title}' on your iPad or iPhone.", :size => "14x24", :class => 'ios-icon-cover'), app_link(issue_url(@issue)) %>
                                        <%= link_to image_tag("ipad@2x.png", :alt => "Read New Internationalist magazine '#{@issue.title}' on your iPad or iPhone.", :title => "Read New Internationalist magazine '#{@issue.title}' on your iPad or iPhone.", :size => "22x27", :class => 'ios-icon-cover'), app_link(issue_url(@issue)) %>
                                    </p>
                                    <p align="left" class="article-title"><singleline label="Title"><%= link_to "NI #{@issue.number} - #{@issue.title}", issue_url(@issue) %></singleline></p>
                                    <div align="left" class="article-content">
                                        <multiline label="Description">Hi [salutation],<br /><br />
                                        The <%= link_to "#{@issue.release.strftime("%B")} issue", issue_url(@issue) %> of New Internationalist magazine is available now for you to read by <a href="<%= new_user_session_url %>?user[login]=[username,fallback=oops]">logging in</a> with your username: <b>[username,fallback=oops]</b>.</multiline>
                                        <% if not @issue.email_text.blank? %><br /><multiline><%= simple_format @issue.email_text %></multiline><% end %>
                                    </div>
                                </td>
                            </tr>
                            <tr><td class="w580" width="580" height="10"></td></tr>
                        </tbody></table>
                    </layout>

                    <hr />

                    <layout label="Text with right-aligned image">
                        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody><tr>
                                <td class="w580" width="580">
                                    <p align="left" class="section-title">Keynote article</p>
                                    <% if not @issue.keynote.featured_image.blank? %>
                                      <table cellpadding="0" cellspacing="0" border="0" align="right">
                                          <tbody><tr>
                                              <td class="w30" width="15"></td>
                                              <td><%= link_to image_tag(@issue.keynote.featured_image_url(:thumb2x).to_s, :alt => "Read '#{@issue.keynote.title}' on-line.", :title => "Read '#{@issue.keynote.title}' on-line.", :width => "100", :class => 'w100', :border => '0', :label => 'Image'), issue_article_url(@issue,@issue.keynote) %></td>
                                          </tr>
                                          <tr><td class="w30" width="15" height="5"></td><td></td></tr>
                                      </tbody></table>
                                    <% elsif not @issue.keynote.first_image.nil? %>
                                      <table cellpadding="0" cellspacing="0" border="0" align="right">
                                          <tbody><tr>
                                              <td class="w30" width="15"></td>
                                              <td><%= link_to image_tag(@issue.keynote.first_image.data_url(:thumb2x).to_s, :alt => "Read '#{@issue.keynote.title}' on-line.", :title => "Read '#{@issue.keynote.title}' on-line.", :width => "100", :class => 'w100', :border => '0', :label => 'Image'), issue_article_url(@issue,@issue.keynote) %></td>
                                          </tr>
                                          <tr><td class="w30" width="15" height="5"></td><td></td></tr>
                                      </tbody></table>
                                    <% end %>
                                    <p align="left" class="article-title"><singleline label="Title"><%= link_to "#{@issue.keynote.title}", issue_article_url(@issue,@issue.keynote) %></singleline></p>
                                    <div align="left" class="article-content">
                                        <multiline label="Description"><%= simple_format @issue.keynote.teaser %> <%= link_to image_tag("iphone@2x.png", :alt => "Read '#{@issue.keynote.title}' on your iPad or iPhone.", :title => "Read '#{@issue.keynote.title}' on your iPad or iPhone.", :size => "14x24", :class => 'ios-icon'), app_link(issue_article_url(@issue,@issue.keynote)) %> <%= link_to "Open in the iOS app", app_link(issue_article_url(@issue,@issue.keynote)) %> | <%= link_to "Read it on-line", issue_article_url(@issue,@issue.keynote) %></multiline>
                                    </div>
                                </td>
                            </tr>
                            <tr><td class="w580" width="580" height="10"></td></tr>
                        </tbody></table>
                    </layout>

                    <hr />

                    <layout label="Text with right-aligned image">
                        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody><tr>
                                <td class="w580" width="580">
                                    <p align="left" class="section-title">A note from the editor</p>
                                    <table cellpadding="0" cellspacing="0" border="0" align="right">
                                        <tbody><tr>
                                            <td class="w30" width="15"></td>
                                            <td><%= link_to image_tag(@issue.editors_photo_url(:thumb2x).to_s, :alt => "#{@issue.title} - edited by #{@issue.editors_name}.", :title => "#{@issue.title} - edited by #{@issue.editors_name}.", :width => "100", :class => 'w100', :border => '0', :label => 'Image'), issue_url(@issue) %></td>
                                        </tr>
                                        <tr><td class="w30" width="15" height="5"></td><td></td></tr>
                                    </tbody></table>
                                    <div align="left" class="article-content">
                                        <multiline label="Description"><%= simple_format @issue.editors_letter %>
                                          <p><strong><%= @issue.editors_name %></strong> for the New Internationalist co-operative.<br /><a href="http://www.newint.org">www.newint.org</a></p></multiline>
                                    </div>
                                </td>
                            </tr>
                            <tr><td class="w580" width="580" height="10"></td></tr>
                        </tbody></table>
                    </layout>

                    <hr />

                    <layout label="Text only">
                        <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody><tr>
                                <td class="w580" width="580">
                                    <p align="left" class="section-title">Other articles in this issue</p>
                                    <% @issue.categorised_articles.each do |a| %>
                                      <% if not a.first_image.nil? and a.is_a_feature and not a.teaser.blank? %>
                                      <table cellpadding="0" cellspacing="0" border="0" align="right">
                                          <tbody><tr>
                                              <td class="w30" width="15"></td>
                                              <td><%= link_to image_tag(a.first_image.data_url(:thumb2x).to_s, :alt => "Read '#{a.title}' on-line.", :title => "Read '#{a.title}' on-line.", :width => "50", :class => 'w50', :border => '0', :label => 'Image'), issue_article_url(@issue,a) %></td>
                                          </tr>
                                          <tr><td class="w30" width="15" height="5"></td><td></td></tr>
                                      </tbody></table>
                                      <% end %>
                                      <p align="left" class="article-content feature-title">
                                        <%= link_to image_tag("iphone@2x.png", :alt => "Read '#{a.title}' on your iPad or iPhone.", :title => "Read '#{a.title}' on your iPad or iPhone.", :size => "14x24", :class => 'ios-icon'), app_link(issue_article_url(@issue,a)) %><%= link_to a.title, issue_article_url(@issue,a) %>
                                      </p>
                                      <% if a.is_a_feature and not a.teaser.blank? %>
                                          <div align="left" class="article-content feature-teaser">
                                            <multiline label="Description"><%= simple_format a.teaser %> <% link_to "Read it now", issue_article_url(@issue,a) %></multiline>
                                          </div>
                                      <% end %>
                                      <hr class="dashed-line" />
                                    <% end %>
                                </td>
                                <!-- START iOS promo -->
                                <tr><td class="w580" width="580">
                                    <p align="left" class="article-title"><singleline label="Title"><a href="https://digital.newint.com.au/apps">Magazine apps for Android and iPhone, iPad &amp; iPod Touch</a></singleline></p>
                                    <p align="left" class="article-content feature-teaser">If you have access to an Android phone or tablet or an iPhone, iPad or iPod Touch you can read New Internationalist magazine in our native apps. Use the same login details you have for digital.newint.com.au. Your username is: [username,fallback=oops]</p>
                                    <a href="https://play.google.com/store/apps/details?id=au.com.newint.newinternationalist"><img src="https://nirailsapp.s3.amazonaws.com/uploads/apps-android.jpg" alt="Download the New Internationalist Android app." title="Download the New Internationalist Android app." width="290" class="w290" style="float: left;"></a>
                                    <a href="https://itunes.apple.com/au/app/new-internationalist-magazine/id711254931?mt=8&uo=4"><img src="https://nirailsapp.s3.amazonaws.com/uploads/apps-ios.jpg" alt="Download the New Internationalist iPad &amp; iPhone app." title="Download the New Internationalist iPad &amp; iPhone app." width="290" class="w290"></a>
                                </td></tr>
                                <!-- END iOS promo -->
                            </tr>
                            <tr><td class="w580" width="580" height="10"></td></tr>
                        </tbody></table>
                    </layout>

                </repeater>
            </td>
            <td class="w30" width="30"></td>
        </tr>
    </tbody></table>
</td></tr>
                <tr><td class="w640" width="640" height="15" bgcolor="#ffffff"></td></tr>
                
                <tr>
                <td class="w640" width="640">
    <table id="footer" class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#f0b133">
        <tbody><tr><td class="w30" width="30"></td><td class="w580 h0" width="360" height="30"></td><td class="w0" width="60"></td><td class="w0" width="160"></td><td class="w30" width="30"></td></tr>
        <tr>
            <td class="w30" width="30"></td>
            <td class="w580" width="360" valign="top">
            <span class="hide"><p id="permission-reminder" align="left" class="footer-content-left"><span>You're receiving this because you're a subscriber to the digital edition of the New Internationalist Magazine.</span></p></span>
            <p align="left" class="footer-content-left"><unsubscribe>Unsubscribe</unsubscribe></p>
            </td>
            <td class="hide w0" width="60"></td>
            <td class="hide w0" width="160" valign="top">
            <p id="street-address" align="right" class="footer-content-right">
                <span>New Internationalist Publications</span>
                <span>15 Austin Street,</span><br>
                <span>Adelaide, SA, 5000</span><br>
                <span>AUSTRALIA</span><br><br>
                <span><a href="http://facebook.com/newint.au">facebook.com/newint.au</a></span><br>
                <span><a href="http://twitter.com/ni_australia">twitter.com/ni_australia</a></span><br><br>
                <span>ABN 11 005 523 124</span>
            </p>
            </td>
            <td class="w30" width="30"></td>
        </tr>
        <tr><td class="w30" width="30"></td><td class="w580 h0" width="360" height="15"></td><td class="w0" width="60"></td><td class="w0" width="160"></td><td class="w30" width="30"></td></tr>
    </tbody></table>
</td>
                </tr>
                <tr><td class="w640" width="640" height="60"></td></tr>
            </tbody></table>
        </td>
  </tr>
</tbody></table>