<h1><%= @issue.title %></h1>
<h2>NI <%= @issue.number %> - <%= @issue.release.strftime("%B, %Y") %></h2>

<%= link_to retina_image_tag(@issue.cover_url(:thumb).to_s, :class => 'issue-cover shadow', :alt => "New Internationalist magazine: #{@issue.title}", :title => "New Internationalist magazine: #{@issue.title}", :size => "141x200"), issue_path(@issue) %>

<% if @keynote %>
  <h5>The big story</h5>
  <%= render :partial => "article_email", :object => @keynote %>
<% end %>

<% if @issue.editors_letter != "" %>
  <h3>A note from the editor</h3>
  <%= retina_image_tag @issue.editors_photo_url(:thumb).to_s, :class => 'editors-photo img-polaroid', :alt => "#{@issue.editors_name}", :title => "#{@issue.editors_name}", :width => "100" %>
  <%= simple_format @issue.editors_letter %>
  <p><strong><%= @issue.editors_name %></strong> for the New Internationalist co-operative.<br /><a href="http://www.newint.org">www.newint.org</a></p>
  <hr />
<% end %>