<h1>Listing issues</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Number</th>
    <th>Release</th>
    <th>Trial?</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issues.sort_by{|x|x.release}.each do |issue| %>
  <tr>
    <td><%= issue.title %></td>
    <td><%= issue.number %></td>
    <td><%= issue.release.strftime("%B, %Y") %></td>
    <td><%= issue.trialissue? ? 'Yes' : 'No' %></td>
    <td><%= link_to 'Show', issue %></td>
    <% if can? :update, @issue %>
      <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    <% end %>
    <% if can? :destroy, @issue %>
      <td><%= link_to 'Destroy', issue, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Issue %>
  <%= link_to 'New Issue', new_issue_path %>
<% end %>
