<%- model_class = Issue -%>
<div class="page-header issue-list-title">
  <h1>Magazine archive</h1>
  <h2>Browse a list of all of the back issues of New Internationalist magazine.</h2>
</div>

<div class="issue-search">
  <%= form_tag issues_path, :class => 'form-search form-inline', method: :get do %>
      <div class="input-append">
        <%= text_field_tag :query, params[:query], :placeholder => 'Magazine theme', :class => "search-query form-control" %>
        <%= submit_tag "Search", name: nil, :class => 'btn btn-default' %>
      </div>
  <% end %>
</div>

<div class="issue-cover-list">
  <% @issues.each do |issue| %>
    <div class="issue-information" itemscope itemtype="http://schema.org/CreativeWork">
      <%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :alt => "#{issue.title} - #{issue.release.strftime("%B, %Y")}", :class => "shadow#{unpublished(issue)}", :title => "#{issue.title} - #{issue.release.strftime("%B, %Y")}", :size => "141x200", :itemprop => "image"), issue_path(issue), :itemprop => "url" %>
      <meta itemprop="name" content="<%= issue.title %>">
      <meta itemprop="editor" content="<%= issue.editors_name %>">
      <meta itemprop="dateCreated" content="<%= issue.release.strftime("%e %B %Y") %>">
      <p><%= issue.number %> - <%= issue.release.strftime("%b %Y") %></p>
    </div>
  <% end %>
</div>
<div class="clearfix"></div>
<%= paginate @issues %>

<table class="table table-bordered">
  <thead>
    <tr>
      <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
      <th>Magazine title</th>
      <th>Issue number</th>
      <th>Date of publication</th>
      <!-- <th><%= model_class.human_attribute_name(:trialissue) %></th> -->
      <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
      <% if can? :update, @issue %><th><%=t '.actions', :default => t("helpers.actions") %></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <!-- <td><%= link_to issue.id, issue_path(issue) %></td> -->
        <td><%= link_to issue.title, issue_path(issue) %></td>
        <td><%= issue.number %></td>
        <td><%= issue.release.strftime("%B, %Y") %></td>
        <!-- <td><%= issue.trialissue? ? 'Yes' : 'No' %></td> -->
        <!-- <td><%=l issue.created_at %></td> -->
        <% if can? :update, @issue %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_issue_path(issue), :class => 'btn btn-outline-secondary' %>
          <% if can? :destroy, @issue %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      issue_path(issue),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Issue %>
  <div class="form-actions">
  	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_issue_path,
	            :class => 'btn btn-primary' %>
  </div>
<% end %>