<%- model_class = Issue -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %>: <%= @issue.title %></h1>
</div>

<dl class="dl-horizontal">
<!--
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @issue.title %></dd>
-->
  <dt><strong><%= model_class.human_attribute_name(:number) %>:</strong></dt>
  <dd><%= @issue.number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:release) %>:</strong></dt>
  <dd><%= @issue.release.strftime("%B, %Y") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trialissue) %>:</strong></dt>
  <dd><%= @issue.trialissue? ? 'Yes' : 'No' %></dd>
</dl>

<%= image_tag @issue.cover_url(:thumb).to_s, :class => 'issue-cover shadow', :alt => "New Internationalist magazine: #{@issue.title}", :title => "New Internationalist magazine: #{@issue.title}" %>

<% if @issue.editors_letter != "" %>
  <div class="editors-letter">
    <p><strong>Editor's letter:</strong></p>
    <%= image_tag @issue.editors_photo_url(:thumb).to_s, :class => 'editors-photo', :alt => "#{@issue.editors_name}", :title => "#{@issue.editors_name}" %>
    <%= simple_format @issue.editors_letter %>
    <p><strong><%= @issue.editors_name %></strong> for the New Internationalist co-operative.<br /><a href="http://www.newint.org">www.newint.org</a></p>
  </div>
<% end %>

<div class="edit-issue-buttons">
  <p><% if can? :update, @issue %>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_issue_path(@issue), :class => 'btn btn-mini' %>
  <% end %>
  <% if can? :destroy, @issue %>
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	              issue_path(@issue),
	              :method => 'delete',
	              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	              :class => 'btn btn-mini btn-danger' %>
  <% end %></p>
</div>

<h2>Articles in this issue</h2>

<table class="table table-bordered">
  <thead>
	  <tr>
	    <th>Title</th>
	    <th>Teaser</th>
	    <th>Author</th>
	    <th>Publication</th>
	    <th>Trial</th>
	  </tr>
  </thead>
  <tbody>
  <% @issue.articles.each do |article| %>
	  <tr>
	    <td><% if can? :read, article %><%= link_to article.title, issue_article_path(@issue,article) %><% else %><%= article.title %><% end %></td>
	    <td><%= article.teaser %></td>
	    <td><%= article.author %></td>
	    <td><%= article.publication.strftime("%B, %Y") %></td>
	    <td><%= article.trialarticle? ? 'Yes' : 'No' %></td>
	    <td>
	        <% if can? :read, article %>
	          <%= link_to 'Show', issue_article_path(@issue,article), :class => 'btn btn-mini' %>
	        <% else %>
	          <%= link_to 'Buy', new_issue_purchase_path(@issue), :class => 'btn btn-mini btn-primary' %>
	        <% end %>
	    </td>
	    <% if can? :update, @article %><td><%= link_to 'Edit', edit_issue_article_path(@issue,article), :class => 'btn btn-mini' %></td><% end %>
	    <% if can? :destroy, @article %><td><%= link_to 'Destroy', issue_article_path(@issue,article), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %></td><% end %>
	  </tr>
  <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              issues_path, :class => 'btn' %>
  <% if can? :create, Article %>
    <%= link_to 'New Article', new_issue_article_path(@issue), :class => 'btn btn-primary' %>
  <% end %>
</div>
