<h1>New Internationalist Magazine</h1>
<h2><%= @issue.title %></h2>

<p>
  <b>Number:</b>
  <%= @issue.number %>
</p>

<p>
  <b>Release:</b>
  <%= @issue.release.strftime("%B, %Y") %>
</p>

<p>
	<b>Trial issue?</b>
	<%= @issue.trialissue? ? 'Yes' : 'No' %>
</p>

<% if can? :update, @issue %><%= link_to 'Edit', edit_issue_path(@issue) %> |<% end %>
<%= link_to 'Back', issues_path %>

<h3>Articles in this issue</h3>

<table>
  <tr>
    <th>Title</th>
    <th>Teaser</th>
    <th>Author</th>
    <th>Publication</th>
    <th>Trial</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issue.articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.teaser %></td>
    <td><%= article.author %></td>
    <td><%= article.publication.strftime("%B, %Y") %></td>
    <td><%= article.trialarticle? ? 'Yes' : 'No' %></td>
    <td>
        <% if can? :read, article %>
          <%= link_to 'Show', issue_article_path(@issue,article) %>
        <% else %>
          <%= link_to 'Buy', new_issue_purchase_path(@issue) %>
        <% end %>
    </td>
    <% if can? :update, @article %><td><%= link_to 'Edit', edit_issue_article_path(@issue,article) %></td><% end %>
    <% if can? :destroy, @article %><td><%= link_to 'Destroy', issue_article_path(@issue,article), confirm: 'Are you sure?', method: :delete %></td><% end %>
  </tr>
<% end %>
</table>

<% if can? :create, Article %>
  <p><%= link_to 'New Article', new_issue_article_path(@issue) %></p>
<% end %>
