<%- model_class = Issue -%>

<% if can? :update, @issue %>
<div class="edit-issue-buttons">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_issue_path(@issue), :class => 'btn btn-primary btn-xs' %>
  <% if can? :destroy, @issue %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          issue_path(@issue),
          :method => 'delete',
          :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? Becuase if you delete this Issue, it will also delete all of the Articles and any purchases of this Issue. Are you really sure?'))},
          :class => 'btn btn-xs btn-danger' %>
  <% end %>
   | 
  <% if can? :create, Article %>
    <%= link_to 'New Article', new_issue_article_path(@issue), :class => 'btn btn-xs btn-success' %>
     |
    <%= link_to 'Import Articles', issue_import_path(@issue), :class => 'btn btn-xs btn-warning',
      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? Because this will try and import all the articles from Bricolage.'))} %>
     |
    <%= link_to 'Import Images', issue_import_images_path(@issue), :class => 'btn btn-xs btn-warning',
      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? This will try and import all the images for each article listed here.'))} %>
    <hr />
    <%= link_to 'Import Blogs', issue_import_extra_path(@issue, article_type: "blog"), :class => 'btn btn-xs btn-warning',
      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? This will import the blogs from Bricolage.'))} %>
     |
     <%= link_to 'Import Web Exclusives', issue_import_extra_path(@issue, article_type: "web-exclusive"), :class => 'btn btn-xs btn-warning',
      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? This will import the web-exclusives from Bricolage.'))} %>
    <hr />
    <%= link_to 'Email current subscriber', issue_email_path(@issue, :mjml), :class => 'btn btn-default btn-xs' %>
     |
    <%= link_to 'Text current subscriber', issue_email_path(@issue, :text), :class => 'btn btn-default btn-xs' %>
    <hr />
    <%= link_to 'Email non-subscriber', issue_email_non_subscribers_path(@issue, :mjml), :class => 'btn btn-default btn-xs' %>
     |
    <%= link_to 'Text non-subscriber', issue_email_non_subscribers_path(@issue, :text), :class => 'btn btn-default btn-xs' %>
    <hr />
    <%= link_to 'Email others', issue_email_others_path(@issue, :mjml), :class => 'btn btn-default btn-xs' %>
     |
    <%= link_to 'Text others', issue_email_others_path(@issue, :text), :class => 'btn btn-default btn-xs' %>
    <hr />
    <%= link_to 'Renew please', issue_email_renew_path(@issue, :mjml), :class => 'btn btn-default btn-xs' %>
     |
    <%= link_to 'Text renew please', issue_email_renew_path(@issue, :text), :class => 'btn btn-default btn-xs' %>
    <hr />
    <%= link_to 'Subscribe special', issue_email_special_path(@issue, :mjml), :class => 'btn btn-default btn-xs' %>
     |
    <%= link_to 'Text subscribe special', issue_email_special_path(@issue, :text), :class => 'btn btn-default btn-xs' %>
    <hr />
    <p><b>Create a zip file for the iOS app</b></p>
    <%= link_to 'Zip up this issue', issue_zip_path(@issue), :class => 'btn btn-default btn-xs' %>
    <hr />

    <p><b>iOS &amp; Android Push Notification</b></p>

    <% if not @issue.published? %>
      <p>This issue has to be published to send a push notification.</p>
    <% elsif @issue.notification_sent %>
      <p><b>Sent</b>: <%= @issue.notification_sent.in_time_zone("Australia/Adelaide").strftime("%d/%m/%Y at %I:%M%p") %><br />(<%= @issue.notification_sent.strftime("%d/%m/%Y at %I:%M%p GMT") %>)</p>
    <% else %>
      <%= simple_form_for issue_setup_push_notification_path(@issue), :url => issue_setup_push_notification_path(@issue) do |f| %>
        <%= f.input :scheduled_datetime, as: :datetime, required: false, label: 'Scheduled for: (UTC, GMT timezone)' %>
        <%= f.input :device_id, :placeholder => 'Push to single user device_id', required: false %>
        <%= f.input :test_device_android, as: :boolean %>
        <%= f.input :alert_text, :placeholder => 'Message', required: false %>
        <%= button_tag(type: 'submit', class: "btn btn-warning", data: {confirm: "Are you sure? Check the spelling again! It'll send it to all devices.\n\nIt automatically includes: #{@issue.push_notification_text}"}) do %>
          Setup Push notifications
        <% end %>
      <% end %>
    <% end %>

  <% end %>
</div>
<% end %>

<% if can? :update, @issue %>
  <% if not @issue.uncategorised.empty? %>
    <div class="articles-not-categorised-for-display">
      <h3>Articles not displayed.</h3>
      <% @issue.uncategorised.each do |article| %>
        <div class="issue-article" itemscope itemtype="http://schema.org/Article">
          <%= render :partial => "article_uncategorised", :locals => { :article => article } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="row issue-top-box" itemscope itemtype="http://schema.org/Product">
  <div class="col-sm-4 issue-title">
    <!-- Magazine cover -->
    <%= retina_image_tag(@issue.cover_url(:home).to_s, :class => 'shadow home-latest-cover', :alt => "NI #{@issue.number} - #{@issue.title} - #{@issue.release.strftime("%B, %Y")}", :itemprop => "image", :title => "NI #{@issue.number} - #{@issue.title} - #{@issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 282, :height => 400) %>
    <!-- Share links -->
    <h2><%= render :partial => "share_links", :object => @issue %></h2>

    <% if cannot? :read, @issue.keynote %>
      <p><%= link_to "Buy this issue $#{cents_to_dollars(Settings.issue_price)}", new_issue_purchase_path(@issue), :class => 'btn btn-default' %></p>
    <% end %>
    <% if not current_user.try(:subscriber?) %>
      <p><%= link_to "Subscribe from $#{cents_to_dollars(Subscription.calculate_subscription_price(3,autodebit: true))}", new_issue_purchase_path(@issue), :class => 'btn btn-success' %></p>
    <% end %>
  </div>
  <div class="col-sm-8">
    <h1 itemprop="name"><%= @issue.title %></h1>
    <meta itemprop="description" content="<%= @page_description %>">
    <meta itemprop="brand" content="New Internationalist">
    <meta itemprop="logo" content="<%= asset_url("favicon-196x196.png") %>">
    <meta itemprop="releaseDate" content="<%= @issue.release.to_time.iso8601 %>">
    <span itemscope itemtype="http://schema.org/Offer">
      <link itemprop="availability" href="http://schema.org/InStock">
      <meta itemprop="sku" content="<%= @issue.number %>">
      <meta itemprop="priceCurrency" content="AUD">
      <meta itemprop="price" content="<%= cents_to_dollars(Settings.issue_price) %>">
    </span>
    <% if @issue.editors_letter != "" %>
      <h3>A note from the editor</h3>
      <div class="table-of-contents-editors-letter">
        <div class="home-editors-photo-container">
          <%= retina_image_tag @issue.editors_photo_url(:thumb).to_s, :class => 'home-editors-photo', :alt => "#{@issue.editors_name}", :title => "#{@issue.editors_name}", :width => "100" %>
        </div>
        <%= simple_format @issue.editors_letter %>
        <p><strong><%= @issue.editors_name %></strong> for the New Internationalist co-operative.<br /><a href="http://www.newint.org">www.newint.org</a></p>
      </div>
    <% end %>
  </div>
</div>

<div class="row issue-keynote">
  <div class="col-sm-12">
    <h3>Keynote article.</h3>
  </div>
  <div itemscope itemtype="http://schema.org/Article">
    <% if @issue.keynote %>
      <%= render :partial => "article_keynote", :locals => { :article => @issue.keynote } %>
    <% end %>
  </div>
</div>

<%= render :partial => "shared/account_sign_up" %>

<hr />

<div class="row">
  <nav class="col-sm-12 latest-issue-categories">
    <h6>What's inside this magazine</h6>
    <ul class="breadcrumb">
    <% @categories.each do |category| %>
      <li><%= link_to category.short_display_name, category_path(category), :class => 'label' %></li>
      <% if can? :manage, category %><li><%= category.name %></li><% end %>
    <% end %>
    </ul>
  </nav>
</div>

<hr />

<div class="row">
  <div class="col-sm-4">

      <% if not @issue.features.empty? %>
        <div class="issue-sections">
          <h3>Features.</h3>
          <% @issue.features.each do |article| %>
            <div class="issue-article" itemscope itemtype="http://schema.org/Article">
              <%= render :partial => "article", :locals => { :article => article } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if not @web_exclusives.empty? %>
        <div class="issue-sections">
          <h3>Web exclusives.</h3>
          <% @web_exclusives.each do |article| %>
            <div class="issue-article" itemscope itemtype="http://schema.org/Article">
              <%= render :partial => "article", :locals => { :article => article } %>
            </div>
          <% end %>
          <p class="more-button"><%= link_to 'Read more web-exclusives...', category_path(Category.find_by_name("/features/web-exclusive/")), :class => 'btn btn-default btn-xs' %></p>
        </div>
      <% end %>

      <% if not @issue.alternatives.empty? %>
        <div class="issue-sections">
          <h3>Alternatives.</h3>
          <% @issue.alternatives.each do |article| %>
            <div class="issue-article" itemscope itemtype="http://schema.org/Article">
              <%= render :partial => "article", :locals => { :article => article } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if not @blogs.empty? %>
        <div class="issue-sections">
          <h3>Blog.</h3>
          <% @blogs.each do |article| %>
            <div class="issue-article" itemscope itemtype="http://schema.org/Article">
              <%= render :partial => "article", :locals => { :article => article } %>
            </div>
          <% end %>
          <p class="more-button"><%= link_to 'Read more blogs...', category_path(Category.find_by_name("/blog/")), :class => 'btn btn-default btn-xs' %></p>
        </div>
      <% end %>

  </div>

  <div class="col-sm-4">

    <% if not @issue.opinion.empty? %>
      <div class="issue-sections">
        <h3>Opinion.</h3>
        <% @issue.opinion.each do |article| %>
          <div class="issue-article" itemscope itemtype="http://schema.org/Article">
            <%= render :partial => "article", :locals => { :article => article } %>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <% if not @issue.agendas.empty? %>
        <div class="issue-sections">
          <h3>Agenda.</h3>
          <% @issue.agendas.each do |article| %>
            <div class="issue-article" itemscope itemtype="http://schema.org/Article">
              <%= render :partial => "article", :locals => { :article => article } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if not @issue.currents.empty? %>
        <div class="issue-sections">
          <h3>Currents.</h3>
          <% @issue.currents.each do |article| %>
            <div class="issue-article" itemscope itemtype="http://schema.org/Article">
              <%= render :partial => "article", :locals => { :article => article } %>
            </div>
          <% end %>
        </div>
      <% end %>

  </div>

  <div class="col-sm-4">

    <% if not @issue.videos.empty? %>
      <div class="issue-sections">
        <h3>Videos.</h3>
        <% @issue.videos.each do |article| %>
          <div class="issue-article" itemscope itemtype="http://schema.org/Article">
            <%= render :partial => "article", :locals => { :article => article } %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if not @issue.regulars.empty? %>
      <div class="issue-sections">
        <h3>Regulars.</h3>
        <% @issue.regulars.each do |article| %>
          <div class="issue-article" itemscope itemtype="http://schema.org/Article">
            <%= render :partial => "article", :locals => { :article => article } %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if not @issue.mixedmedia.empty? %>
      <div class="issue-sections">
        <h3>Film, Book &amp; Music Reviews.</h3>
        <% @issue.mixedmedia.each do |article| %>
          <div class="issue-article" itemscope itemtype="http://schema.org/Article">
            <%= render :partial => "article", :locals => { :article => article } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="clearfix"></div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              issues_path, :class => 'btn btn-default' %>
  <% if can? :create, Article %>
    <%= link_to 'New Article', new_issue_article_path(@issue), :class => 'btn btn-primary' %>
  <% end %>
</div>

<%= render :partial => "disqus", :object => @issue %>

