<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @issue.title %>
</p>

<p>
  <b>Number:</b>
  <%= @issue.number %>
</p>

<p>
  <b>Release:</b>
  <%= @issue.release.strftime("%B, %Y") %>
</p>

<p>
	<b>Trial issue?</b>
	<%= @issue.trialissue? ? 'Yes' : 'No' %>
</p>


<% if can? :update, @issue %><%= link_to 'Edit', edit_issue_path(@issue) %> |<% end %>
<%= link_to 'Back', issues_path %>

<% if can? :create, Article %>
  <p><%= link_to 'New Article', new_issue_article_path %></p>
<% end %>
