<%= simple_form_for ([@issue, @article]), :html => { :class => 'form-horizontal' }, :html => {:multipart => true} do |f| %>

  <%= f.input :title %>
  <%= f.input :teaser %>
  <%= f.input :author %>
  <%= f.input :hide_author_name %>

  <div class="control-group autocomplete-data" data-autocomplete-source="<%= Category.order(:name).map(&:name) %>">
    <p><b>Categories</b></p>
    <%= f.fields_for :categories do |builder| %>
      <%= render 'category_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Category", f, :categories %>
  </div>

  <%= f.input :publication, as: :datetime %>

  <%= f.hidden_field :featured_image_cache %>
  <%= f.input :featured_image %>
  <% if @article.featured_image? %>
    <%= retina_image_tag(@article.featured_image_url(:thumb).to_s) %>
    <%= f.input :remove_featured_image, as: :boolean %>
  <% end %>

  <%= f.input :featured_image_caption %>

  <%= f.label :body %>
  <p>To add an image, first upload it, note it's :id and then insert it with [File:xx] or [File:xx|full] or [File:xx|left] to remove the float or [File:xx|cartoon] or [File:xx|small] or [File:xx|centre] you can also add |ns to remove the shadow. [File:xx|ns] or [File:xx|cartoon|ns]</p>
  <p>To add a cover linked back to that issue, use [Cover:xx] where xx is the rails issue_id. [Cover:xx|small|left|ns] also work.</p>
  <% if not @article.id.nil? %>
    <%= link_to 'Generate from source', issue_article_generate_from_source_path(@issue,@article, :format => 'js'), :remote => true, :id => 'generate_from_source', :confirm => "Are you sure? You will lose any changes you have made to the body.", :class => 'btn btn-default' %>
  <% end %>
  <%= f.input :body, label: false %>

  <%= f.input :trialarticle, as: :boolean %>
  <%= f.input :keynote, as: :boolean %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn btn-default' %>
  </div>
<% end %>
