<%= simple_form_for ([@issue, @article]), :html => { :class => 'form-horizontal' }, :html => {:multipart => true} do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :teaser, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :teaser, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publication, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :publication, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :featured_image, :class => 'control-label' %>
    <%= f.hidden_field :featured_image_cache %>
    <%= f.file_field :featured_image %>
    <%= f.label :remove_featured_image %>
    <%= retina_image_tag(@article.featured_image_url(:thumb).to_s) if @article.featured_image? %>
    <%= f.check_box :remove_featured_image %>
  </div>
  <div class="control-group">
    <%= f.label :featured_image_caption, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :featured_image_caption, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <% if @article.body.blank? %>
        <% @article.body = source_to_body(@article) %>
      <% end %>
      <%= f.text_area :body, :class => 'text_area' %>
    </div>
  </div>
<!--   <div class="control-group">
    <%= f.label :issue_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :issue_id, :class => 'number_field' %>
    </div>
  </div> -->
  <div class="control-group">
    <%= f.label :trialarticle, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :trialarticle, :class => 'check_box' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :keynote, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :keynote, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn' %>
  </div>
<% end %>
