<p class="share-links"><%= link_to "NI #{@issue.number} - #{@article.publication.strftime("%B, %Y")}", issue_path(@issue) %>
  <% if user_signed_in? and can? :create, Favourite %>
    <!-- Favourite -->
    <% if article_favourited?(@article) %>
      <%= link_to raw('<i class="fa fa-heart red"></i>'), issue_article_favourite_path(@issue.id, @article.id, favourite_id_for_article(@article)), method: 'delete', class: 'article-favourite', alt: 'Remove from favourites', title: 'Remove from favourites' %>
    <% else %>
      <%= link_to raw('<i class="fa fa-heart-o"></i>'), issue_article_favourites_path(@issue, @article), method: 'create', class: 'article-favourite', alt: 'Add to favourites', title: 'Add to favourites' %>
    <% end %>
    <!-- END Favourite -->
  <% end %>
  <% if user_signed_in? and can? :create, GuestPass %>
    <!-- Sharing options -->
    <% if article_has_a_guest_pass?(@article) %>
      <%= link_to raw('<i class="fa fa-share"></i>'), issue_article_guest_pass_path(@issue.id, @article.id, guest_pass_id_for_article(@article)), method: 'delete', class: 'article-favourite', alt: 'Delete this guest pass', title: 'Delete this guest pass' %>
      <!-- Guest pass link -->
      <%= link_to 'Guest pass to share', generate_guest_pass_link_string(current_user.guest_passes.select{|s| (s.article.id == @article.id)}.last), alt: 'Right-click and copy this link to share it with friends.', title: 'Right-click and copy this link to share it with friends.' %>
      <!-- Email button -->
	    <%= link_to raw('<i class="fa fa-envelope"></i>'), issue_article_email_article_path(@issue,@article), class: 'article-favourite', alt: 'Email this article to a friend', title: 'Email this article to a friend' %>
    <% else %>
      <%= link_to raw('<i class="fa fa-share"></i>'), issue_article_guest_passes_path(@issue, @article), method: 'create', class: 'article-favourite', alt: 'Share this article with a friend.', title: 'Share this article with a friend.' %>
    <% end %>
    <!-- Tweet button -->
    <%= link_to raw('<i class="fa fa-twitter"></i>'), issue_article_tweet_path(@issue,@article, text: strip_tags(@article.title)), class: 'article-favourite', alt: 'Tweet about this article', title: 'Tweet about this article', target: "_blank" %>
    <!-- Facebook button -->
    <%= link_to raw('<i class="fa fa-facebook-square"></i>'), issue_article_wall_post_path(@issue,@article, text: strip_tags(@article.title)), class: 'article-favourite', alt: 'Share this article on Facebook', title: 'Share this article on Facebook', target: "_blank" %>
    <!-- END Social buttons -->
    <!-- END Sharing options -->
    <!-- iOS app link -->
    <% link_to retina_image_tag("iphone-dark.png", alt: "Open '#{@article.title}' in the New Internationalist magazine app for Android or iOS mobile devices.", title: "Open '#{@article.title}' in the New Internationalist magazine app for Android or iOS mobile devices.", size: "14x24", class: 'ios-issue-page'), app_link(issue_article_path(@issue, @article)) %>
    <!-- END iOS app link -->
  <% end %>
</p>