<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:teaser) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:publication) %></th>
      <!-- <th><%= model_class.human_attribute_name(:body) %></th> -->
      <th><%= model_class.human_attribute_name(:issue_id) %></th>
      <th><%= model_class.human_attribute_name(:trialarticle) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @issue.articles.each do |article| %>
      <tr>
        <td><%= link_to article.id, issue_article_path(@issue,article) %></td>
        <td><%= article.title %></td>
        <td><%= article.teaser %></td>
        <td><%= article.author %></td>
        <td><%= article.publication %></td>
        <!-- <td><%= article.body %></td> -->
        <td><%= article.issue_id %></td>
        <td><%= article.trialarticle %></td>
        <td><%=l article.created_at %></td>
        <td>
          <% if can? :read, article %>
            <%= link_to 'Read', issue_article_path(article.issue,article), :class => 'btn btn-mini' %>
          <% else %>
            <%= link_to 'Buy', new_issue_purchase_path(article.issue), :class => 'btn btn-mini btn-primary' %>
          <% end %>
          <% if can? :update, article %><%= link_to 'Edit', edit_issue_article_path(article.issue,article), :class => 'btn btn-primary btn-mini' %><% end %>
          <% if can? :destroy, article %><%= link_to 'Destroy', issue_article_path(article.issue,article), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>