<h2>Articles listing</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Teaser</th>
    <th>Author</th>
    <th>Publication</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.teaser %></td>
    <td><%= article.author %></td>
    <td><%= article.publication %></td>
    <td><%= article.body %></td>
  </tr>
<% end %>
</table>