<%- model_class = Article -%>
<div class="page-header">
  <h1>Article search</h1>
  <h3>Search for an article from the New Internationalist magazine archive.</h3>
</div>

<div class="article-search">
  <%= form_tag search_path, :class => 'form-search form-inline', method: :get do %>
      <div class="input-append">
        <%= text_field_tag :query, params[:query], :placeholder => 'Article search', :class => "span2 search-query form-control" %>
        <%= submit_tag "Search", name: nil, :class => 'btn btn-outline-secondary' %>
      </div>
  <% end %>
  <p>You might also like to <%= link_to 'browse articles by category', categories_path %>.<br />
  Or limit your search to <%= link_to "Magazine main themes", issues_path %>.</p>
</div>

<h4>Search results<% if params[:query] %> for: <span class="red"><%= params[:query] %></span><% else %>:<% end %></h4>

<div class="row">
  <% if @articles %>
    <% @articles.sort_by(&:publication).reverse.each_with_index do |article, index| %>
      <% if index % 3 == 0 %>
</div>
<div class="row">
      <% end %>
      <div class="col-sm-4">
        <%= render :partial => "articles/search_article", :locals => { :article => article } %>
      </div>
    <% end %>
  <% end %>
</div>

<%= paginate @articles %>

<hr />
<h4>Search results in a table<% if params[:query] %> for: <span class="red"><%= params[:query] %></span><% else %>:<% end %></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Article title</th>
      <th>Description</th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th>Published</th>
      <!-- <th><%= model_class.human_attribute_name(:body) %></th> -->
      <th>Magazine</th>
      <!-- <th><%= model_class.human_attribute_name(:trialarticle) %></th> -->
      <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.sort_by(&:publication).reverse.each do |article| %>
      <tr>
        <td><%= link_to highlight(article.title, @query_array), issue_article_path(article.issue,article) unless article.issue.nil? %></td>
        <td><%= simple_format highlight(article.teaser, @query_array) %></td>
        <td><%= highlight(article.author, @query_array) %></td>
        <td><%= article.publication.strftime("%B, %Y") %></td>
        <!-- <td><%= article.body %></td> -->
        <td><%= link_to article.issue.number, issue_path(article.issue) unless article.issue.nil? %></td>
        <!-- <td><%= article.trialarticle %></td> -->
        <!-- <td><%=l article.created_at %></td> -->
        <td>
          <% if can? :read, article %>
            <%= link_to 'Read', issue_article_path(article.issue,article), :class => 'btn btn-outline-secondary' unless article.issue.nil? %>
          <% else %>
            <%= link_to 'Buy', new_issue_purchase_path(article.issue), :class => 'btn btn-xs btn-primary' unless article.issue.nil? %>
          <% end %>
          <% if can? :update, article %><%= link_to 'Edit', edit_issue_article_path(article.issue,article), :class => 'btn btn-primary btn-xs' unless article.issue.nil? %><% end %>
          <% if can? :destroy, article %><%= link_to 'Destroy', issue_article_path(article.issue,article), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-xs btn-danger' unless article.issue.nil? %><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @articles %>
