<%- model_class = Article -%>

<!-- <nav>
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> <span class="divider">></span></li>
    <li><%= link_to "Magazine archive", issues_path %> <span class="divider">></span></li>
    <li><%= link_to "#{@issue.number} - #{@issue.title}", issue_path(@issue) %> <span class="divider">></span></li>
    <li><%= @article.publication.strftime("%B, %Y") %></li>
  </ul>
</nav> -->

<div class="page-header article-title">
  <h1><%= @article.title %></h1>
  <h2><%= @article.teaser %></h2>
  <p class="breadcrumb"><%= link_to "NI #{@issue.number} - #{@article.publication.strftime("%B, %Y")}", issue_path(@issue) %></p>
</div>

<div class="article-body">
  <%= simple_format @article.body %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              issue_path(@issue), :class => 'btn'  %>
  <% if can? :update, @article %>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_issue_article_path(@issue,@article), :class => 'btn btn-primary' %>
  <% end %>
  <% if can? :destroy, @article %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              issue_article_path(@issue,@article),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <% end %>
</div>
