<%- model_class = Article -%>

<!-- <nav>
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> <span class="divider">></span></li>
    <li><%= link_to "Magazine archive", issues_path %> <span class="divider">></span></li>
    <li><%= link_to "#{@issue.number} - #{@issue.title}", issue_path(@issue) %> <span class="divider">></span></li>
    <li><%= @article.publication.strftime("%B, %Y") %></li>
  </ul>
</nav> -->

<% if can? :update, @article %>
<div class="edit-article-buttons">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_issue_article_path(@issue,@article), :class => 'btn btn-primary btn-mini' %>
  <% if can? :destroy, @article %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                issue_article_path(@issue,@article),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-mini btn-danger' %> | 
    <%= link_to 'Import images', issue_article_import_images_path(@issue,@article), :class => 'btn btn-mini btn-warning',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? Because this will try and import all the images from Bricolage.')) %>
  <% end %>
</div>
<% end %>

<div class="page-header article-title">
  <h1><%= @article.title %></h1>
  <%= link_to retina_image_tag(@issue.cover_url(:tiny).to_s, :class => 'issue-cover shadow', :alt => "NI #{@issue.number} - #{@issue.title} - #{@issue.release.strftime("%B, %Y")}", :title => "NI #{@issue.number} - #{@issue.title} - #{@issue.release.strftime("%B, %Y")}", :rel => "tooltip", :size => "53x75"), issue_path(@issue) %>
  <h2><%= simple_format @article.teaser %></h2>
  <p><span class="breadcrumb"><%= link_to "NI #{@issue.number} - #{@article.publication.strftime("%B, %Y")}", issue_path(@issue) %></span>
    <% if current_article_favourited? %>
      <%= link_to raw('<i class="icon-heart"></i>'), issue_article_favourite_path(@issue.id, @article.id, favourite_id_for_article(@article)), :method => 'delete', :class => 'btn btn-mini btn-danger article-favourite', :alt => 'Remove from favourites', :title => 'Remove from favourites' %>
    <% else %>
      <%= link_to raw('<i class="icon-heart"></i>'), issue_article_favourites_path(@issue, @article), :method => 'create', :class => 'btn btn-mini article-favourite', :alt => 'Add to favourites', :title => 'Add to favourites' %>
    <% end %>
  </p>
</div>

<% if not @article.featured_image.blank? %>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item active">
        <%= retina_image_tag @article.featured_image_url(:fullwidth).to_s, :alt => "#{strip_tags(@article.featured_image_caption)}", :title => "#{strip_tags(@article.featured_image_caption)}", :size => "945x400" %>
        <div class="carousel-caption">
          <p><%= simple_format @article.featured_image_caption %></p>
        </div>
      </div>
      <!-- Add class="item" here for another item -->
    </div>
    <!-- Carousel nav -->
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
  </div>
<% end %>

<!-- <div class="article-image-top" style="background-image: url('');"></div> -->

<div class="article-body">
  <% if @article.body.blank? %>
    <%= simple_format source_to_body(@article) %>
  <% else %>
    <%= simple_format @article.body %>
  <% end %>
</div>

<% if can? :update, @article %>
  <button class="flip-button btn">Show/Hide source</button>
  <div class="article-source well well-small div-to-flip">
    <%= @article.source %>
  </div>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              issue_path(@issue), :class => 'btn'  %>
  <% if can? :update, @article %>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_issue_article_path(@issue,@article), :class => 'btn btn-primary' %>
  <% end %>
  <% if can? :destroy, @article %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              issue_article_path(@issue,@article),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <% end %>
</div>
