<%- model_class = Article -%>

<% if can? :update, @article %>
<div class="edit-article-buttons">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_issue_article_path(@issue,@article), :class => 'btn btn-primary btn-xs' %>
  <% if can? :destroy, @article %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                issue_article_path(@issue,@article),
              :method => 'delete',
              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                :class => 'btn btn-xs btn-danger' %> | 
    <%= link_to 'Import article', issue_article_import_path(@issue,@article), :class => 'btn btn-xs btn-warning',
                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? Because this will try and re-import this article again from Bricolage.'))} %> | 
    <%= link_to 'Import images', issue_article_import_images_path(@issue,@article), :class => 'btn btn-xs btn-warning',
                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? Because this will try and import all the images from Bricolage.'))} %> | 
    <%= link_to 'All images', issue_article_images_path(@issue,@article), :class => 'btn btn-xs btn-success' %>
    <div class="image-uploader">
      <%= simple_form_for [@issue, @article, @newimage], html: { :class => 'file-upload', :multipart => true } do |f| %>
        <%= f.file_field :data, multiple: true, name: "image[data]" %>
      <% end %>
      <script id="template-upload" type="text/x-tmpl">
        <div class="upload">
          {%=o.name%}
          <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>
        </div>
      </script>
    </div>

    <p><b>iOS &amp; Android Push Notification</b></p>

    <% if not @article.issue.published? %>
      <p>This article's issue isn't published yet.</p>
    <% elsif @article.notification_sent %>
      <p><b>Sent</b>: <%= @article.notification_sent.in_time_zone("Australia/Adelaide").strftime("%d/%m/%Y at %I:%M %p") %><br />(<%= @article.notification_sent.strftime("%d/%m/%Y at %I:%M %p GMT") %>)</p>
    <% else %>
      <%= simple_form_for issue_article_send_push_notification_path(@issue, @article), :url => issue_article_send_push_notification_path(@issue, @article) do |f| %>
        <%= f.input :scheduled_datetime, as: :datetime, required: false, label: "Scheduled for: (UTC, GMT timezone)" %>
        <%= f.input :device_id, :placeholder => 'Push to single user device_id', required: false %>
        <%= f.input :test_device_android, as: :boolean %>
        <%= f.input :alert_text, :placeholder => 'Message', required: false %>
        <%= button_tag(type: 'submit', class: "btn btn-warning", data: {confirm: "Are you sure? Check the spelling again! It'll setup notifications for all mobile devices registered."}) do %>
          Setup push notifications
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>

<div class="page-header article-title" itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="name"><span itemprop="headline"><%= @article.title %></span></h1>
  <%= link_to retina_image_tag(@issue.cover_url(:thumb).to_s, :class => 'issue-cover', :alt => "NI #{@issue.number} - #{@issue.title} - #{@issue.release.strftime("%B, %Y")}", :title => "NI #{@issue.number} - #{@issue.title} - #{@issue.release.strftime("%B, %Y")}", :rel => "tooltip", :size => "75x106"), issue_path(@issue) %>
  <h2 itemprop="description"><%= simple_format @article.teaser %></h2>
  <meta itemprop="url" content="<%= issue_article_url(@issue,@article) %>">
  <meta itemprop="dateCreated" content="<%= @article.issue.release.strftime("%e %B %Y") %>">
  <meta itemprop="datePublished" content="<%= @article.issue.release.strftime("%e %B %Y") %>">
  <meta itemprop="dateModified" content="<%= @article.updated_at.strftime("%e %B %Y") %>">
  <meta itemprop="mainEntityOfPage" content="<%= issue_article_url(@issue,@article) %>">
  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="<%= asset_url("favicon-196x196.png") %>">
      <meta itemprop="width" content="196">
      <meta itemprop="height" content="196">
    </div>
    <meta itemprop="name" content="New Internationalist">
  </div>
  <div itemprop="author" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="<%= @article.author %>">
  </div>
  <% if @article.first_image %>
    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="<%= @article.first_image.data_url.to_s %>">
      <meta itemprop="width" content="<%= @article.first_image.width %>">
      <meta itemprop="height" content="<%= @article.first_image.height %>">
    </div>
  <% end %>
  <%= render :partial => "share_links", :object => @article %>
  <nav>
    <ul class="breadcrumb">
    <% @article.categories.each do |category| %>
      <li><%= link_to category.short_display_name, category_path(category), :class => 'badge badge-secondary' %></li>
      <% if can? :manage, Article %><li><%= category.name %></li><% end %>
    <% end %>
    </ul>
  </nav>
</div>

<% if not @article.featured_image.blank? %>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item active" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <%= retina_image_tag @article.featured_image_url(:fullwidth).to_s, :alt => "#{strip_tags(@article.featured_image_caption)}", :title => "#{strip_tags(@article.featured_image_caption)}", :size => "1050x444" %>
        <% if not @article.featured_image_caption.blank? %>
          <div class="carousel-caption">
            <p><%= simple_format @article.featured_image_caption %></p>
          </div>
        <% end %>
        <meta itemprop="url" content="<%= @article.featured_image_url(:fullwidth).to_s %>">
        <meta itemprop="width" content="1890">
        <meta itemprop="height" content="800">
      </div>
    </div>
  </div>
<% end %>

<!-- Manually uploaded image slideshow -->

<% if not @article.images.select{|i| i.media_id.nil?}.select{|i| not i.hidden?}.empty? %>
<div class="all-article-images<%= @image_css_string %>" <% if can? :manage, Image %>id="sortable-block" <% end %>data-update-url="<%= sort_issue_article_images_url(@issue,@article) %>">
  <% @article.images.order("position").select{|i| i.media_id.nil? and not i.hidden?}.each do |i| %>
    <%= content_tag_for :div, i do %>
      <% if @image_url_string.nil? %>
        <!-- Full size image -->
        <%= link_to image_tag(i.data_url.to_s, :alt => "#{strip_tags(i.caption)}", :title => "#{strip_tags(i.caption)}", :class => 'article-image-carousel', :"data-slide-index" => "#{(i.position or 1000) - 1}", :"data-toggle" => 'modal', :"data-target" => '.imageModal'), '#' %>
      <% else %>
        <%= link_to retina_image_tag(i.data_url(@image_url_string).to_s, :alt => "#{strip_tags(i.caption)}", :title => "#{strip_tags(i.caption)}", :class => 'article-image-carousel', :"data-slide-index" => "#{(i.position or 1000) - 1}", :"data-toggle" => 'modal', :"data-target" => '.imageModal'), '#' %>
      <% end %>
      <div class="new-image-caption"><%= simple_format i.caption %></div>
      <div class="new-image-credit"><%= i.credit %></div>
      <% if can? :manage, Image %>
        <%= link_to t('.show', :default => t("helpers.links.show")),
                    issue_article_image_path(@issue, @article, i), :class => 'btn btn-outline-secondary' %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_issue_article_image_path(@issue, @article, i), :class => 'btn btn-xs btn-primary' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    issue_article_image_path(@issue, @article, i),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-xs btn-danger' %>
      <% end %>
    <% end %>
  <% end %>

  <!-- Modal -->
  <div class="modal fade imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel">
    <!-- Carousel -->
    <div class="modal-dialog modal-lg">
      <div id="imageCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
              <% first = true %>
              <% @article.images.order("position").select{|i| i.media_id.nil?}.each do |i| %>
                <div class="<% if first %>active <% first = false %><% end %>item">
                  <%= image_tag i.data_url.to_s, :alt => "", :title => "" %>
                </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="article-body <% if not @letters.empty? %>article-body-letters<% end %>">

  <% if @letters and not @letters.empty? %>
    <div class="article-image article-image-small no-shadow"><%= retina_image_tag('section-letters.png', alt: 'Letters icon.', title: 'Letters icon.') %></div>
  <% end %>

  <% if @article.images and @article.images.empty? and @temperature_check and not @temperature_check.empty? %>
    <div class="article-image article-image-small no-shadow"><%= retina_image_tag('section-temperature-check.png', alt: 'Temperature check icon.', title: 'Temperature check icon.') %></div>
  <% end %>

  <% if @view_from_africa and not @view_from_africa.empty? %>
    <div class="article-image no-shadow"><%= image_tag('section-view-from-africa.png', alt: 'View from Africa illustration by Kate Copeland.', title: 'View from Africa illustration by Kate Copeland.', width: 300) %></div>
  <% end %>

  <% if @view_from_india and not @view_from_india.empty? %>
    <div class="article-image no-shadow"><%= image_tag('section-view-from-india.png', alt: 'View from India illustration by Kate Copeland.', title: 'View from India illustration by Kate Copeland.', width: 300) %></div>
  <% end %>

  <% if @view_from_america and not @view_from_america.empty? %>
    <div class="article-image no-shadow"><%= image_tag('section-view-from-america.png', alt: 'View from America illustration by Kate Copeland.', title: 'View from America illustration by Kate Copeland.', width: 300) %></div>
  <% end %>

  <% if @article.body.blank? %>
    <%= simple_format expand_image_tags(source_to_body(@article, :debug => current_user.try(:admin?)), :debug => current_user.try(:admin?)) %>
  <% else %>
    <%= simple_format expand_image_tags(@article.body, :debug => current_user.try(:admin?)) %>
  <% end %>
</div>

<div class="clearfix"></div>

<% if @letters and not @letters.empty? %>
  <div class="letters-box">
    <p>The <b>New Internationalist</b> welcomes your letters. But please keep them short. They may be edited for purposes of space or clarity. Letters should be sent to <a href="mailto:letters@newint.org?Subject=Letters submission">letters@newint.org</a> or to your local NI office. Please remember to include a town and country for your address.</p>
    <p>The views expressed on this letters page are not necessarily those of the <b>New Internationalist</b>.</p>
  </div>
<% end %>

<% if @debate and not @debate.empty? %>
  <div class="box debate">
    <h4>What do you think?</h4>
    <p>Tell us here: <a href="mailto:letters@newint.org?Subject=The debate - feedback">letters@newint.org</a></p><p>We will print a selection of your views in the next issue.</p>
  </div>
<% end %>

<% if can? :update, @article %>
  <button class="flip-button btn">Show/Hide source</button>
<div class="article-source well well-small div-to-flip">
    <%= @article.source %>
  </div>
<% end %>

<%= render :partial => "shared/account_sign_up" %>

<div class="end-of-article-social-sharing">
  <%= render :partial => "share_links", :object => @article %>
</div>

<div class="related-articles">
  <div class="article-next-previous">
    <% if not @article.previous.nil? %><div class="article-previous"><i class='fa fa-arrow-left'></i> <%= link_to @article.previous.title, issue_article_path(@article.previous.issue, @article.previous) %></div><% end %> <% if not @article.next.nil? %><div class="article-next"><i class='fa fa-arrow-right'></i><%= link_to @article.next.title, issue_article_path(@article.next.issue, @article.next) %></div><% end %>
  </div>

  <div class="clearfix"></div>

  <% if not @related_articles.blank? %>
    <div class="article-related-by-theme">
      <h4>Also on this theme</h4>
      <ul>
      <% @related_articles.first(10).each do |article| %>
        <li><%= link_to article.title, issue_article_path(article.issue, article) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="form-actions">

  <nav>
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %> <span class="divider">></span></li>
      <li><%= link_to "Magazine archive", issues_path %> <span class="divider">></span></li>
      <li><%= link_to "#{@issue.number} - Table of contents", issue_path(@issue) %> <span class="divider">></span></li>
      <li><%= @article.publication.strftime("%B, %Y") %></li>
    </ul>
  </nav>

  <%= link_to t('.back', :default => t("helpers.links.back")),
              issue_path(@issue), :class => 'btn btn-outline-secondary'  %>
  <% if can? :update, @article %>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_issue_article_path(@issue,@article), :class => 'btn btn-primary' %>
  <% end %>
  <% if can? :destroy, @article %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              issue_article_path(@issue,@article),
              :method => 'delete',
              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
              :class => 'btn btn-danger' %>
  <% end %>
</div>

<!-- Highlighter.js -->
<% if current_user %>
  <span class='holder'>
    <div class='share-highlight-btn'>
      <div class='btn-caret'>
      </div>
      <div class='btn btn-outline-secondary'>
        <div class="tweet-button">
          <%= link_to "Tweet", issue_article_tweet_path(@article.issue, @article), :target => "_blank" %>
        </div>
        <div class="facebook-button">
          <%= link_to "Facebook", issue_article_wall_post_path(@article.issue, @article), :target => "_blank" %>
        </div>
      </div>
      <!-- <div class='btn-right'>&times;</div> -->
    </div>
  </span>
<% end %>

<%= render :partial => "disqus", :object => @article %>

<% if not current_user %>
  <%= link_to raw('<div class="subscription-advert"><p>Our independent global journalism is entirely subscriber-funded. <b>Subscribe</b> for instant access to our 8-year archive of award-winning magazines.&nbsp;&nbsp;&nbsp;<i class="fa fa-times"></i></p></div>'), page_path('subscribe') %>
<% end %>
