<%- model_class = User -%>
<div class="page-header">
	<h1><%= @user %></h1>
	<%= link_to "Edit my profile", edit_user_registration_path(@user), :class => 'btn btn-primary' %>
</div>

<dl class="dl-horizontal admin">
<% if current_user == @user %>
	<% if not @user.parent %>
		<dt><%= model_class.human_attribute_name(:email) %>:</dt>
		<dd><%= @user.email %></dd>
	<% end %>
	<dt>Account type:</dt>
	<dd><%= @user.user_type %></dd>
	<% if @user.subscriber? || @user.subscription_lapsed? || @user.user_type == "Admin" %>
		<% if @user.has_paper_only? or @user.had_paper_only? %>
			<dt>Digital expiry:</dt>
		<% else %>
			<dt>Expiry date:</dt>
		<% end %>
		<dd><% begin %>
			<%= @user.expiry_date.strftime("%e %B, %Y") %>
		<% rescue NoMethodError %>
			No current subscription.
		<% end %></dd>
	<% end %>
	<% if not @user.parent and not @user.has_paper_only? %>
		<% if @user.subscriber? and @user.is_recurring? and @user.has_paper_copy? %>
			<dt></dt>
			<dd>(Automatic renewal, Digital + Paper copy)</dd>
			<dt></dt>
			<dd><%= link_to "Cancel my subscription", edit_subscription_path(@user.recurring_subscription), :class => 'btn btn-danger' %></dd>
		<% elsif @user.subscriber? and @user.was_recurring? and @user.has_cancelled_recurring? %>
			<dt></dt>
			<dd>(Automatic renewal cancelled)</dd>
		<% elsif @user.subscriber? and @user.is_recurring? %>
			<dt></dt>
			<dd>(Automatic renewal)</dd>
			<dt></dt>
			<% if not @user.has_paper_only? or not @user.has_paper_copy? %>
				<dd><%= link_to "Cancel my subscription", edit_subscription_path(@user.recurring_subscription), :class => 'btn btn-danger' %></dd>
			<% end %>
		<% elsif @user.subscriber? and (not @user.has_paper_only? or not @user.has_paper_copy?) %>
		<dt></dt>
		<dd><%= link_to "Extend my subscription", new_subscription_path, :class => 'btn btn-outline-secondary' %> <%= link_to "Cancel my subscription", edit_subscription_path(@user.last_subscription), :class => 'btn btn-danger' unless @user.uk_user? %></dd>
		<% elsif @user.subscription_lapsed? and (not @user.had_paper_copy?) %>
		<dt></dt>
		<dd><%= link_to "Renew my subscription", new_subscription_path, :class => 'btn btn-success' %></dd>
		<% elsif not @user.had_paper_copy? %>
		<dt></dt>
		<dd><%= link_to "Subscribe", new_subscription_path, :class => 'btn btn-success' %></dd>
		<% end %>
		<% if @user.uk_user? and not @user.subscriber? %>
			<dt>Note:</dt>
			<dd>If you have a current UK subscription, you might need to logout and log back in to update your expiry date.</dd>
		<% end %>
	<% end %>
	<% if @user.has_paper_only? and not @user.digital_only_subscription_valid? %>
		<dt></dt>
		<dd>(3 month digital trial with paper only subscription)</dd>
	<% end %>
	<% if @user.has_paper_copy? or @user.had_paper_copy? %>
		<!-- TODO: Add this into the tests above properly -->
		<dt>Paper expiry:</dt>
		<dd><% begin %>
			<%= @user.expiry_date_paper_copy.strftime("%e %B, %Y") %>
		<% rescue NoMethodError %>
			No current subscription.
		<% end %></dd>
		<% if @user.subscriber? and @user.is_recurring? %>
			<dt></dt>
			<dd>(Automatic renewal)</dd>
			<dt></dt>
			<dd><%= link_to "Cancel my subscription", edit_subscription_path(@user.recurring_subscription), :class => 'btn btn-danger' %></dd>
		<% elsif @user.subscriber? %>
			<dt></dt>
			<dd><%= link_to "Extend my subscription", new_subscription_path, :class => 'btn btn-outline-secondary' %> <%= link_to "Cancel my subscription", edit_subscription_path(@user.last_subscription), :class => 'btn btn-danger' unless @user.uk_user? %></dd>
		<% elsif @user.subscription_lapsed? %>
			<dt></dt>
			<dd><%= link_to "Renew my subscription", new_subscription_path, :class => 'btn btn-success' %></dd>
			<% else %>
			<dt></dt>
			<dd><%= link_to "Subscribe", new_subscription_path, :class => 'btn btn-success' %></dd>
		<% end %>
	<% end %>
<% end %>
</dl>

<% if (@user == current_user) and current_user.institution %>
	<h3>Student accounts: </h3>
	<p><%= link_to 'Create a new student account', new_institution_user_path, :class => 'btn btn-success' %></p>
	<%= children_as_table(@user.children) %>
<% end %>

<% if (@user == current_user) and (@user.has_paper_copy? or @user.had_paper_copy?) %>
	<h3>Paper subscription details</h3>
	<dl class="dl-horizontal admin">
		<dt>Title:</dt><dd><%= @user.title.blank? ? '-' : @user.title %></dd>
		<dt>First name:</dt><dd><%= @user.first_name.blank? ? '-' : @user.first_name %></dd>
		<dt>Last name:</dt><dd><%= @user.last_name.blank? ? '-' : @user.last_name %></dd>
		<dt>Company name:</dt><dd><%= @user.company_name.blank? ? '-' : @user.company_name %></dd>
		<dt>Address:</dt><dd><%= @user.address.blank? ? '-' : @user.address %></dd>
		<dt>Suburb or Town:</dt><dd><%= @user.city.blank? ? '-' : @user.city %></dd>
		<dt>Postal code:</dt><dd><%= @user.postal_code.blank? ? '-' : @user.postal_code %></dd>
		<dt>State:</dt><dd><%= @user.state.blank? ? '-' : @user.state %></dd>
		<dt>Country:</dt><dd><%= @user.country.blank? ? '-' : @user.country_name %></dd>
		<dt>Phone:</dt><dd><%= @user.phone.blank? ? '-' : @user.phone %></dd>
	</dl>
<% end %>

<% if not @user.parent %>
	<h3>Favourite articles:</h3>
	<div class="row">
		<% if not @favourites.try(:empty?) %>
			<% @favourites.each_with_index do |favourite, index| %>
				<% if index % 3 == 0 %>
	</div>
	<div class="row">
				<% end %>
				<div class="col-sm-4">
					<%= render :partial => "home/home_article", :locals => { :article => favourite.article } %>
					<p class="favourited-date">Favourited on: <%= favourite.created_at.try(:strftime,"%d %B, %Y") %></p>
				</div>
			<% end %>
		<% else %>
			<div class="col-sm-12">
				<% if current_user == @user %>
					<p>You haven't marked any articles as favourites yet.</p>
				<% else %>
					<p>They haven't marked any articles as favourites yet.</p>
				<% end %>
			</div>
		<% end %>
	</div>
	<%= paginate @favourites, param_name: :favourites_page %>

	<hr />

	<h3>Shared articles:</h3>
	<div class="row">
		<% if not @guest_passes.try(:empty?) %>
			<% @guest_passes.each_with_index do |pass, index| %>
				<% if index % 3 == 0 %>
	</div>
	<div class="row">
				<% end %>
				<div class="col-sm-4">
					<%= render :partial => "home/home_article", :locals => { :article => pass.article } %>
					<div class="favourited-date">
						<p>
							Shared on: <%= pass.created_at.try(:strftime,"%d %B, %Y") %>
							<% if current_user == @user %>
								<br /><%= generate_guest_pass_link_to(pass) %>
							<% end %>
						</p>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="col-sm-12">
				<% if current_user == @user %>
					<p>You haven't shared any articles yet.</p>
				<% else %>
					<p>They haven't shared any articles yet.</p>
				<% end %>
			</div>
		<% end %>
	</div>
	<%= paginate @guest_passes, param_name: :shared_page %>

	<% if current_user == @user %>
		<hr />
		<h3>Issues purchased:</h3>
		<div class="row">
			<% if not @user.purchases.try(:empty?) %>
				<% @user.purchases.sort_by(&:created_at).reverse.each_with_index do |purchase, index| %>
					<% if index % 4 == 0 %>
		</div>
		<div class="row">
					<% end %>
					<div class="col-sm-3">
						<%= render :partial => "issue_purchase", :locals => { :issue => purchase.issue } %>
						<div class="issue-purchase-date">
							<p>
								Purchased on: <%= purchase.created_at.try(:strftime,"%d %b, %Y") %><br />
								Price: $<%= purchase.price_paid ? cents_to_dollars(purchase.price_paid) : "Free" %>
							</p>
						</div>
					</div>
				<% end %>
			<% else %>
				<div class="col-sm-12">
					<p>You haven't purchased any individual magazines yet.</p>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<div class="form-actions">
	<%= link_to "Back", issues_path, :class => 'btn btn-outline-secondary' %>
	<% if current_user.admin? %>
		<%= link_to "Edit User", edit_admin_user_path(@user), :class => 'btn btn-primary' %>
	<% elsif (current_user == @user) and (not @user.parent) and (can? :manage, @user) %>
		<%= link_to "Edit my profile", edit_user_registration_path(@user), :class => 'btn btn-primary' %>
	<% end %>
</div>