<%- model_class = User -%>
<div class="page-header">
	<h1>Username: <%= @user %></h1>
</div>

<dl class="dl-horizontal">
  <% if current_user == @user %>
  	<dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  	<dd><%= @user.email %></dd>
  <% end %>
  <% if @user.subscriber? || @user.subscription_lapsed? || @user.user_type == "Admin" %>
  	<dt><strong>Expiry date:</strong></dt>
  	<dd><% begin %>
			<%= @user.subscription.expiry_date.strftime("%e %B, %Y") %>
		<% rescue NoMethodError %>
			No current subscription.
		<% end %></dd>
  <% end %>
  <dt></dt>
  <dd><% if @user.subscriber? and !@user.subscription.paypal_profile_id.blank? %>
		You have an automatic renewal, <%= link_to "Cancel my subscription", edit_subscription_path, :class => 'btn btn-danger' %>
	<% elsif @user.subscriber? %>
		<%= link_to "Extend my subscription", new_subscription_path, :class => 'btn' %>, <%= link_to "Cancel my subscription", edit_subscription_path, :class => 'btn btn-danger' %>
	<% elsif @user.subscription_lapsed? %>
		<%= link_to "Renew my subscription", new_subscription_path, :class => 'btn btn-success' %>
	<% else %>
		<%= link_to "Subscribe", new_subscription_path, :class => 'btn btn-success' %>
	<% end %></dd>
	<dt><strong>Account type:</strong></dt>
	<dd><%= @user.user_type %></dd>
</dl>

<h3>Issues purchased:</h3>
<%= issues_as_table(@user.issues) %>
<div class="form-actions">
	<%= link_to "Back", issues_path, :class => 'btn' %>
	<% if current_user.admin? %>
	        <%= link_to "Edit User", edit_admin_user_path(@user), :class => 'btn btn-primary' %>
	<% elsif current_user == @user %>
	        <%= link_to "Edit my profile", edit_user_registration_path(@user), :class => 'btn btn-primary' %>
	<% end %>
</div>