<%- model_class = User -%>
<div class="page-header">
	<h1><%= @user %></h1>
</div>

<dl class="dl-horizontal">
  <% if current_user == @user %>
  	<dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  	<dd><%= @user.email %></dd>
    <dt><strong>Account type:</strong></dt>
	<dd><%= @user.user_type %></dd>
	<% if @user.subscriber? || @user.subscription_lapsed? || @user.user_type == "Admin" %>
		<dt><strong>Expiry date:</strong></dt>
		<dd><% begin %>
			<%= @user.expiry_date.strftime("%e %B, %Y") %>
		<% rescue NoMethodError %>
			No current subscription.
		<% end %></dd>
	<% end %>
	<% if @user.subscriber? and @user.is_recurring? %>
		<dt></dt>
		<dd>(Automatic renewal)</dd>
		<dt></dt>
		<dd><%= link_to "Cancel my subscription", edit_subscription_path(@user.recurring_subscription), :class => 'btn btn-danger' %></dd>
	<% elsif @user.subscriber? %>
	<dt></dt>
	<dd><%= link_to "Extend my subscription", new_subscription_path, :class => 'btn' %> <%= link_to "Cancel my subscription", edit_subscription_path(@user.last_subscription), :class => 'btn btn-danger' %></dd>
	<% elsif @user.subscription_lapsed? %>
	<dt></dt>
	<dd><%= link_to "Renew my subscription", new_subscription_path, :class => 'btn btn-success' %></dd>
	<% else %>
	<dt></dt>
	<dd><%= link_to "Subscribe", new_subscription_path, :class => 'btn btn-success' %></dd>
	<% end %>
  <% end %>
</dl>

<h3>Favourite articles:</h3>
<%= favourites_as_table(@user.favourites) %>

<h3>Shared articles:</h3>
<%= guest_passess_as_table(@user.guest_passes) %>

<% if current_user == @user %>
	<h3>Issues purchased:</h3>
	<%= purchases_as_table(@user.purchases) %>
<% end %>

<div class="form-actions">
	<%= link_to "Back", issues_path, :class => 'btn' %>
	<% if current_user.admin? %>
	        <%= link_to "Edit User", edit_admin_user_path(@user), :class => 'btn btn-primary' %>
	<% elsif current_user == @user %>
	        <%= link_to "Edit my profile", edit_user_registration_path(@user), :class => 'btn btn-primary' %>
	<% end %>
</div>