<% if @has_token %>

	<%= semantic_form_for([@issue, @purchase]) do |f| %>
	  
	  Name: <%= session[:express_first_name] %> <%= session[:express_last_name] %> <br />
	  Purchase amount: $<%= number_with_precision((session[:express_purchase_price] / 100), :precision => 2) %>
	  <div class="form-actions">
		  <%= f.actions do %>
		    <%= f.action :submit, :as => :button, :class => 'btn btn-success' %>
		  <% end %>
	  </div>
	<% end %>

<% else %>
	<div class="form-actions">
		<%= link_to 'Purchase with PayPal', express_new_issue_purchase_path, :class => 'btn btn-success' %>
		<%= link_to 'Cancel', issue_path(@issue), :class => 'btn' %>
	</div>
<% end %>