<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being made:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><b>Issue name</b>: <%= @issue.title %></p>
  <p><b>For user</b>: <%= @user.username %></p>

  <p>TODO: finish this form</p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- <%= semantic_form_for(@purchase) do |f| %>
  <%= f.inputs do %>
    <%= f.input :issues, :as => :check_boxes %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
  <% end %>
<% end %> -->