<div class="purchase-issue">
	<%= retina_image_tag(@issue.cover_url(:thumb).to_s, class: 'shadow-sm', alt: "#{@issue.title} - #{@issue.release.strftime("%B, %Y")}", title: "#{@issue.title} - #{@issue.release.strftime("%B, %Y")}", rel: "tooltip", size: "141x200") %>
	<h3><%= @issue.title %></h3>
	<h4>NI <%= @issue.number %> - <%= @issue.release.strftime("%B, %Y") %></h4>
	<dl class="dl-horizontal">
		<dt>Price:</dt>
		<dd>$<%= cents_to_dollars(Settings.issue_price) %></dd>
	</dl>
</div>

<div class="marketing-subscribe">
	<h3>Or you could subscribe!</h3>
	<h4>And read our entire archive...</h4>
	<p>From just $<%= cents_to_dollars(Subscription.calculate_subscription_price(3,autodebit: false)) %> for a 3 month subscription you'll have access to our archive of New Internationalist magazines.</p>
	<%= link_to "Subscription information...", new_subscription_path, class: 'btn btn-info' %>
</div>

<div class="form-actions"
	data-paypal-issue-purchase
	data-create-order-url="<%= paypal_order_issue_purchases_path(@issue) %>"
	data-capture-url="<%= issue_purchases_path(@issue) %>"
	data-success-url="<%= issue_path(@issue) %>"
	data-issue-number="<%= @issue.number %>"
	data-issue-title="<%= @issue.title %>"
	data-purchase-id="user<%= current_user.id %>issue<%= @issue.id %>"
	data-issue-price="<%= cents_to_dollars(@issue.price) %>">
	<div id="paypal-issue-purchase-button"></div>
	<p class="alert alert-danger mt-3 d-none" data-paypal-error></p>
	<%= link_to 'Cancel', issue_path(@issue), class: 'btn btn-outline-secondary mt-3' %>
</div>

<% content_for :head do %>
	<script src="<%= @paypal_sdk_url %>"></script>
<% end %>
