<div class="purchase-issue">
	<%= retina_image_tag(@issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "#{@issue.title} - #{@issue.release.strftime("%B, %Y")}", :title => "#{@issue.title} - #{@issue.release.strftime("%B, %Y")}", :rel => "tooltip", :size => "141x200") %>
	<h3><%= @issue.title %></h3>
	<h4>NI <%= @issue.number %> - <%= @issue.release.strftime("%B, %Y") %></h4>
	<% if not @has_token %>
		<p>Price: $<%= cents_to_dollars(Settings.issue_price) %></p>
	<% end %>
</div>

<% if not @has_token %>
	<div class="marketing-subscribe">
		<h3>Or you could subscribe!</h3>
		<h4>And read our entire archive...</h4>
		<p>From just $<%= cents_to_dollars(Subscription.calculate_subscription_price(3,autodebit: false)) %> for a 3 month subscription you'll have access to our archive of New Internationalist magazines.</p>
		<%= link_to "Subscription information...", new_subscription_path, :class => 'btn btn-info' %>
	</div>
<% end %>

<% if @has_token %>

	<%= simple_form_for([@issue, @purchase]) do |f| %>
	  
	  Name: <%= session[:express_first_name] %> <%= session[:express_last_name] %> <br />
	  Purchase amount: $<%= number_with_precision((session[:express_purchase_price] / 100), :precision => 2) %>
	  <div class="form-actions">
		<%= f.button :submit, "Complete your purchase", :onclick => "trackConv(1072702417,'luYUCKztvAQQ0cfA_wM','#{number_with_precision((session[:express_purchase_price] / 100), :precision => 2)}','issue');", :class => 'btn btn-success' %>
	  </div>
	<% end %>

<% else %>
	<div class="form-actions">
		<%= link_to 'Purchase this issue with PayPal', express_new_issue_purchase_path, :class => 'btn btn-success' %>
		<%= link_to 'Cancel', issue_path(@issue), :class => 'btn' %>
	</div>
<% end %>