<div class="footer">

  <div class="row">
    <div class="col-sm-4">
      <%= link_to retina_image_tag("new-internationalist-logo-300px.png", :alt => "New Internationalist - The world unspun", :title => "New Internationalist - The world unspun", width: 150, class: "brand"), root_path %>
      <% if user_signed_in? and current_user.try(:subscriber?) or current_user.try(:admin?) %>
        <p>Welcome back to the New Internationalist digital edition. Thanks for subscribing, we really appreciate it. If you have any feedback or suggestions for new features we can add, our contact details are in the footer. Enjoy reading the magazine.</p>
      <% else %>
        <p>The <b>New Internationalist</b> is an independent bi-monthly not-for-profit magazine that reports on action for global justice. We believe in putting people before profit, in climate justice, tax justice, equality, social responsibility and human rights for all.</p>
      <% end %>
    </div>
    <div class="col-sm-4">
      <h5>Site map:</h5>
      <ul>
        <li><a href="https://subscribe.newint.org">Subscribe</a></li>
        <li><%= link_to "Magazine archive", issues_path %></li>
        <li><%= link_to "Search", search_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Mobile applications", page_path("apps") %></li>
        <li><%= link_to "Help", page_path("help") %></li>
        <li><%= link_to "RSS feed", rss_url(format: :xml) %></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h5>Find us:</h5>
      <ul>
        <li>Twitter: <a href="https://twitter.com/<%= ENV["TWITTER_NAME"] %>">@<%= ENV["TWITTER_NAME"] %></a></li>
        <li>Facebook: <a href="https://facebook.com/<%= ENV["FACEBOOK_PAGE_NAME"] %>">@<%= ENV["FACEBOOK_PAGE_NAME"] %></a></li>
        <li>Instagram: <a href="https://instagram.com/<%= ENV["INSTAGRAM_NAME"] %>">@<%= ENV["INSTAGRAM_NAME"] %></a></li>
        <li>Youtube: <a href="https://www.youtube.com/user/<%= ENV["YOUTUBE_NAME"] %>/videos"><%= ENV["YOUTUBE_NAME"] %></a></li>
        <li>Apple: <a href="<%= ENV["ITUNES_APP_LINK"] %>">App Store</a></li>
        <li>Android: <a href="<%= ENV["GOOGLE_PLAY_APP_LINK"] %>">Play Store</a></li>
      </ul>
      <h5>Contact us:</h5>
      <ul>
        <li><a href="https://newint.org/contact">newint.org/contact</a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <p>New Internationalist acknowledges the <strong>Traditional Owners</strong> of Country throughout Australia and recognises their continuing connection to land, waters and culture. We acknowledge that these lands were stolen and sovereignty was never ceded. We pay our respects to Elders both past and present.</p>
    <p>&copy; Copyright <strong>New Internationalist</strong> 1973-<%= DateTime.now.year %>. Except where otherwise noted, content on this site is <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">licensed</a> under <a href="http://creativecommons.org">Creative Commons</a>.</p>
    <p>Except where otherwise noted, images on this site are &copy; the attributed photographer/illustrator or representative agency.</p>
  </div>
</div>