				<% if can? :read, article %>
					<!-- Can read this article, so link to it -->
					<% if not article.featured_image.blank? %>
				    <%= link_to retina_image_tag(article.featured_image_url(:fullwidth).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.featured_image_caption)}", :title => "#{strip_tags(article.featured_image_caption)}", :size => "80x80", :itemprop => "image"), issue_article_path(article.issue,article) %>
				  <% elsif article.first_image %>
				    <%= link_to retina_image_tag(article.first_image.data_url(:sixhundred).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.first_image.caption)}", :title => "#{strip_tags(article.first_image.caption)}", :size => "80x80", :itemprop => "image"), issue_article_path(article.issue,article) %>
				  <% end %>
					<h3><%= link_to article.title, issue_article_path(article.issue,article) %></h3>
					<h4><%= simple_format article.teaser %></h4>
					<h5 class="breadcrumb"><%= link_to "#{article.issue.number} - #{article.issue.release.strftime("%B, %Y")}", issue_path(article.issue) %></h5>
				<% else %>
					<!-- Can't read this article, so link to buy it -->
					<% if not article.featured_image.blank? %>
				    <%= link_to retina_image_tag(article.featured_image_url(:fullwidth).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.featured_image_caption)}", :title => "#{strip_tags(article.featured_image_caption)}", :size => "80x80", :itemprop => "image"), new_issue_purchase_path(article.issue) %>
				  <% elsif article.first_image %>
				    <%= link_to retina_image_tag(article.first_image.data_url(:sixhundred).to_s, :class => 'article-thumb', :alt => "#{strip_tags(article.first_image.caption)}", :title => "#{strip_tags(article.first_image.caption)}", :size => "80x80", :itemprop => "image"), new_issue_purchase_path(article.issue) %>
				  <% end %>
					<h3><%= link_to article.title, new_issue_purchase_path(article.issue) %></h3>
					<h4><%= simple_format article.teaser %></h4>
					<h5 class="breadcrumb"><%= link_to "#{article.issue.number} - #{article.issue.release.strftime("%B, %Y")}", issue_path(article.issue) %></h5>
					<p><%= link_to 'Buy this magazine', new_issue_purchase_path(article.issue), :class => 'btn btn-success btn-mini' %></p>
				<% end %>