<% if @latest_issue.keynote.first_image %>
	<div id="myCarousel" class="carousel slide home-hero">
    <!-- Keynote hero image -->
    <div class="carousel-inner">
      <div class="item active" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      	<% if can? :read, @latest_issue.keynote %>
	        <%= link_to image_tag(@latest_issue.keynote.first_image.data_url.to_s, :alt => "#{strip_tags(@latest_issue.keynote.first_image.caption)}", :title => "#{strip_tags(@latest_issue.keynote.first_image.caption)}", :size => "1050x444"), issue_article_path(@latest_issue,@latest_issue.keynote) %>
	      <% else %>
	      	<%= link_to image_tag(@latest_issue.keynote.first_image.data_url.to_s, :alt => "#{strip_tags(@latest_issue.keynote.first_image.caption)}", :title => "#{strip_tags(@latest_issue.keynote.first_image.caption)}", :size => "1050x444"), new_issue_purchase_path(@latest_issue) %>
	      <% end %>
        <meta itemprop="url" content="<%= @latest_issue.keynote.first_image.data_url.to_s %>">
        <meta itemprop="width" content="2100">
        <meta itemprop="height" content="888">
      </div>
    </div>
  </div>
<% end %>

<!-- Latest magazine information -->
<div class="row">
	<div class="col-sm-4">
		<div class="home-keynote">
			<h6>Keynote article from this issue</h6>
			<%= render :partial => "home_article_no_image", :locals => { :article => @latest_issue.keynote } %>
		</div>
	</div>
	<div class="col-sm-4 home-latest-issue">
		<!-- Latest cover -->
		<%= link_to retina_image_tag(@latest_issue.keynote.issue.cover_url(:home).to_s, :class => 'shadow home-latest-cover', :alt => "NI #{@latest_issue.keynote.issue.number} - #{@latest_issue.keynote.issue.title} - #{@latest_issue.keynote.issue.release.strftime("%B, %Y")}", :itemprop => "image", :title => "NI #{@latest_issue.keynote.issue.number} - #{@latest_issue.keynote.issue.title} - #{@latest_issue.keynote.issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 282, :height => 400), issue_path(@latest_issue.keynote.issue), :itemprop => "url" %>
  	<p><%= link_to "Buy this issue $#{cents_to_dollars(Settings.issue_price)}", new_issue_purchase_path(@latest_issue.keynote.issue), :class => 'btn btn-default btn-lg' %></p>
  	<p><%= link_to "Subscribe from $#{cents_to_dollars(Subscription.calculate_subscription_price(3,autodebit: true))}", new_issue_purchase_path(@latest_issue.keynote.issue), :class => 'btn btn-success btn-lg' %></p>
  	<p class="ios-home-ad"><a href="https://itunes.apple.com/au/app/new-internationalist-magazine/id711254931?mt=8&uo=4" target="itunes_store"><img src="/assets/app-store.svg" alt="Download the New Internationalist magazine app for iPad and iPhone." title="Download the New Internationalist magazine app for iPad and iPhone." /></a>
		<a href="https://play.google.com/store/apps/details?id=au.com.newint.newinternationalist"><img alt="Get New Internationalist magazine app on Google Play" title="Get New Internationalist magazine app on Google Play" src="/assets/google-play.svg" /></a></p>
	</div>
	<div class="col-sm-4 home-editor-note">
		<h4>A note from the editor</h4>
		<h3><%= @latest_issue.keynote.issue.editors_name %></h3>
		<div class="home-editors-photo-container">
			<%= retina_image_tag @latest_issue.keynote.issue.editors_photo_url(:thumb).to_s, :class => 'home-editors-photo', :alt => "#{@latest_issue.keynote.issue.editors_name}", :title => "#{@latest_issue.keynote.issue.editors_name}", :width => "100" %>
		</div>
		<p><%= simple_format truncate(strip_tags(@latest_issue.keynote.issue.editors_letter), :length => 256) %></p>
		<p><%= link_to 'Read more...', issue_path(@latest_issue.keynote.issue), :class => 'btn btn-default btn-xs' %></p>
	</div>
</div>

<hr />

<div class="row">
	<!-- For subscribers -->
	<% if current_user.try(:subscriber?) or current_user.try(:admin?) %>
		<div class="col-sm-12">
			<h2>Magazine archive</h2>
			<p>These are the most recent magazines we've published. See the <%= link_to "Magazine archive", issues_path %> for a full list of issues.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(6).each do |issue| %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :itemprop => "image", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(issue), :itemprop => "url" %>
						<span class="hide-meta" itemprop="name"><%= issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
					</span>
					<% end %>
				<% end %>
			</div>
		</div>
	<% else %>
	<!-- For guests (not logged in) or non-subscribers -->
		<div class="col-sm-8">
			<h2>Magazine archive</h2>

			<p>Here are the <%= link_to "most recent magazines", issues_path %> we've published.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(4).each do |issue| %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(issue) %>
						<span class="hide-meta" itemprop="name"><%= issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
					</span>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-4 home-free-issue">
			<h2>Try it first</h2>

			<p>Read a full sample magazine..</p>

			<div class="home-cover-list">
				<% if @latest_free_issue %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(@latest_free_issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{@latest_free_issue.number} - #{@latest_free_issue.title} - #{@latest_free_issue.release.strftime("%B, %Y")}", :title => "NI #{@latest_free_issue.number} - #{@latest_free_issue.title} - #{@latest_free_issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(@latest_free_issue) %>
						<span class="hide-meta" itemprop="name"><%= @latest_free_issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= @latest_free_issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= @latest_free_issue.release.strftime("%e %B %Y") %></span>
					</span>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<hr />
<div class="row">
	<div class="col-sm-12">
		<h2>Recent feature articles</h2>
		<p>A selection of <% if @features_category %><%= link_to 'feature articles', category_path(@features_category) %><% else %>feature articles<% end %> from each of the latest New Internationalist magazines.</p>
	</div>
</div>

<div class="row">
	<% if @keynotes %>
		<% @keynotes.sort_by(&:publication).reverse.each_with_index do |keynote, index| %>
			<% if index == 3 %>
</div>
<div class="row">
			<% end %>
			<div class="col-sm-4">
				<%= render :partial => "home_article", :locals => { :article => keynote } %>
			</div>
		<% end %>
	<% end %>
</div>
<hr />
<div class="row">
	<div class="col-sm-12">
		<h2>From the archives</h2>
		<p>A selection of articles from the New Internationalist magazine archives.</p>
	</div>
</div>
<div class="row">
	<!-- Sample agenda articles -->
	<% if @agendas %>
		<% @agendas.each do |article| %>
			<div class="col-sm-4">
				<%= render :partial => "home_article", :locals => { :article => article } %>
			</div>
		<% end %>
	<% end %>
</div>
<div class="row">
	<!-- Media -->
	<% if @film %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @film } %>
		</div>
	<% end %>
	<% if @book %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @book } %>
		</div>
	<% end %>
	<% if @music %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @music } %>
		</div>
	<% end %>
</div>
<div class="row">
	<!-- Media -->
	<% if @letters_from %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @letters_from } %>
		</div>
	<% end %>
	<% if @making_waves %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @making_waves } %>
		</div>
	<% end %>
	<% if @world_beaters %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @world_beaters } %>
		</div>
	<% end %>
</div>
<div class="row">
	<!-- Sample facts spread -->
	<% if @facts %>
		<div class="col-sm-6">
			<%= render :partial => "home_article", :locals => { :article => @facts } %>
		</div>
	<% end %>
	<!-- Sample country profile -->
	<% if @country_profile %>
		<div class="col-sm-6">
			<%= render :partial => "home_article", :locals => { :article => @country_profile } %>
		</div>
	<% end %>
</div>
<hr />
<div class="row">
	<!-- Sample cartoon -->
	<% if @cartoon %>
		<div class="col-sm-12">
			<%= render :partial => "home_article", :locals => { :article => @cartoon } %>
		</div>
	<% end %>
</div>
<hr />