<div class="hero-unit">
	<h1>Digital edition</h1>
	<div class="home-image">
		<%= link_to retina_image_tag('utne-winner.png', :alt => 'Awards New Internationalist magazine has won', :title => 'Awards New Internationalist magazine has won', :size => "75x96"), page_path("awards") %>
	</div>
	<% if current_user.try(:subscriber?) or current_user.try(:admin?) %>
		<p>Welcome back to the New Internationalist digital edition. Thanks for subscribing, we really appreciate it. If you have any feedback or suggestions for new features we can add, click the 'send feedback' tab on the bottom right of any page. Enjoy reading the magazine.</p>
	<% else %>
		<p>Welcome to the New Internationalist digital edition, a paperless subscription to NI magazine. To get started, browse the <%= link_to "magazine archive", issues_path %>, purchase a single issue, or <% if current_user.nil? %><%= link_to "subscribe", page_path("subscribe") %><% else %><%= link_to "subscribe", new_subscription_path %><% end %> for 3, 6 or 12 months.</p>
	<% end %>

	<div class="hero-buttons">
		<% if not current_user.try(:subscriber?) %>
			<% if current_user.nil? %><%= link_to "Subscribe", page_path("subscribe"), :class => 'btn btn-success' %><% else %><%= link_to "Subscribe", new_subscription_path, :class => 'btn btn-success' %><% end %>
		<% end %>
		<%= link_to "Magazine archive", issues_path, :class => 'btn' %> <%= link_to "Article categories/themes", categories_path, :class => 'btn' %>
	</div>
	<div class="ios-home-ad">
		<a href="https://itunes.apple.com/au/app/new-internationalist-magazine/id711254931?mt=8&uo=4" target="itunes_store"><img src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" alt="Download the New Internationalist magazine app for iPad and iPhone." title="Download the New Internationalist magazine app for iPad and iPhone." /></a>
	</div>
</div>

<div class="row-fluid">
	<!-- For subscribers -->
	<% if current_user.try(:subscriber?) or current_user.try(:admin?) %>
		<div class="span12">
			<h2>Latest magazines</h2>
			<p>These are the most recent magazines we've published. See the <%= link_to "Magazine archive", issues_path %> for a full list of issues.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(6).each do |issue| %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :itemprop => "image", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :size => "141x200"), issue_path(issue), :itemprop => "url" %>
						<span class="hide-meta" itemprop="name"><%= issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
					</span>
					<% end %>
				<% end %>
			</div>
		</div>
	<% else %>
	<!-- For guests (not logged in) or non-subscribers -->
		<div class="span9">
			<h2>Latest magazines</h2>

			<p>Here are the most recent magazines we've published. Even if you haven't subscribed yet, you can still read the editor's letter for each issue and see a teaser of all the articles in that edition.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(4).each do |issue| %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :size => "141x200"), issue_path(issue) %>
						<span class="hide-meta" itemprop="name"><%= issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
					</span>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="span3">
			<h2>Try it first</h2>

			<p>Read a full sample magazine to see if you like it first.</p>

			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by{|x|x.release}.each do |issue| %>
					<% if issue.trialissue %>
						<span itemscope itemtype="http://schema.org/CreativeWork">
							<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :size => "141x200"), issue_path(issue) %>
							<span class="hide-meta" itemprop="name"><%= issue.title %></span>
							<span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
							<span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
						</span>
					<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>