<!-- <div class="page-header">
	<h1>Digital edition</h1>
</div>

<p>Welcome to the New Internationalist digital edition, a paperless subscription to NI magazine.</p>

<p>To get started, you can browse the <%= link_to "magazine archive", issues_path %> to purchase a single issue of the magazine, or <%= link_to "subscribe", new_subscription_path %> for 3, 6 or 12 months.</p>

<p><%= link_to "Subscribe", new_subscription_path, :class => 'btn btn-large btn-success' %></p> -->

<div class="hero-unit">
	<h1>Digital edition</h1>
	<p>Welcome to the New Internationalist digital edition, a paperless subscription to NI magazine.</p>

	<p>To get started, browse the <%= link_to "magazine archive", issues_path %>, purchase a single issue, or <%= link_to "subscribe", new_subscription_path %> for 3, 6 or 12 months.</p>

	<p><%= link_to "Subscribe", new_subscription_path, :class => 'btn btn-large btn-success' %></p>
</div>

<hr />

<div class="row-fluid">
  <div class="span6">
  	<h2>Try it first</h2>

	<p>If you're not sure whether you want to subscribe just yet, we've put together a full magazine for you to try.</p>

	<div class="home-cover-list"><% @issues.sort_by{|x|x.release}.each do |issue| %>
		<% if issue.trialissue %>
			<%= link_to image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip"), issue_path(issue) %>
		<% end %>
	<% end %></div>
  </div>
  <div class="span6">
  	<h2>Magazine archive</h2>

	<p>Browse a list of all of the magazines in our archive. Even if you haven't subscribed yet, you can still read the editor's letter for each issue and see a teaser of all the articles in that edition.</p>
	<p><%= link_to "Browse the full archive", issues_path, :class => 'btn' %></p>
	<div class="home-cover-list">
	  <% @issues.sort_by(&:release).reverse.first(3).each do |issue| %>
	    <%= link_to image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip"), issue_path(issue) %>
	  <% end %>
	</div>
  </div>
</div>