<div class="hero-unit">
	<h1>Digital edition</h1>
	<% if current_user.try(:subscriber?) or current_user.try(:admin?) %>
		<p>Welcome back to the New Internationalist digital edition. Thanks for subscribing, we really appreciate it. If you have any feedback or suggestions for new features we can add, click the 'send feedback' tab on the bottom right of any page. Enjoy reading the magazine.</p>
	<% else %>
		<p>Welcome to the New Internationalist digital edition, a paperless subscription to NI magazine. To get started, browse the <%= link_to "magazine archive", issues_path %>, purchase a single issue, or <% if current_user.nil? %><%= link_to "subscribe", page_path("subscribe") %><% else %><%= link_to "subscribe", new_subscription_path %><% end %> for 3, 6 or 12 months.</p>
	<% end %>

	<div class="hero-buttons">
		<% if not current_user.try(:subscriber?) %>
			<% if current_user.nil? %><%= link_to "Subscribe", page_path("subscribe"), :class => 'btn btn-success' %><% else %><%= link_to "Subscribe", new_subscription_path, :class => 'btn btn-success' %><% end %>
		<% end %>
		<%= link_to "Magazine archive", issues_path, :class => 'btn' %>
	</div>
</div>

<div class="row-fluid">
	<!-- For subscribers -->
	<% if current_user.try(:subscriber?) or current_user.try(:admin?) %>
		<div class="span12">
			<h2>Latest magazines</h2>
			<p>These are the most recent magazines we've published. See the <%= link_to "Magazine archive", issues_path %> for a full list of issues.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(6).each do |issue| %>
					<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :size => "141x200"), issue_path(issue) %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% else %>
	<!-- For guests (not logged in) or non-subscribers -->
		<div class="span9">
			<h2>Latest magazines</h2>

			<p>Here are the most recent magazines we've published. Even if you haven't subscribed yet, you can still read the editor's letter for each issue and see a teaser of all the articles in that edition.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(4).each do |issue| %>
					<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :size => "141x200"), issue_path(issue) %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="span3">
			<h2>Try it first</h2>

			<p>Read a full sample magazine to see if you like it first.</p>

			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by{|x|x.release}.each do |issue| %>
					<% if issue.trialissue %>
						<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :size => "141x200"), issue_path(issue) %>
					<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>