<div class="hero-unit">
	<h1>Digital edition</h1>
	<div class="home-image">
		<%= link_to retina_image_tag('utne-winner.png', :alt => 'Awards New Internationalist magazine has won', :title => 'Awards New Internationalist magazine has won', :width => 75, :height => 96), page_path("awards") %>
	</div>
	<% if current_user.try(:subscriber?) or current_user.try(:admin?) %>
		<p>Welcome back to the New Internationalist digital edition. Thanks for subscribing, we really appreciate it. If you have any feedback or suggestions for new features we can add, click the 'send feedback' tab on the bottom right of any page. Enjoy reading the magazine.</p>
	<% else %>
		<p>The <b>New Internationalist</b> is an independent monthly not-for-profit magazine that reports on action for global justice. We believe in putting people before profit, in climate justice, tax justice, equality, social responsibility and human rights for all.</p>
		<p>This is the New Internationalist digital edition, a paperless subscription to NI magazine. To get started, browse the <%= link_to "magazine archive", issues_path %>, purchase a single issue, or <% if current_user.nil? %><%= link_to "subscribe", page_path("subscribe") %><% else %><%= link_to "subscribe", new_subscription_path %><% end %> for 3, 6 or 12 months.</p>
	<% end %>

	<div class="hero-buttons">
		<% if not current_user.try(:subscriber?) %>
			<% if current_user.nil? %><%= link_to "Subscribe", page_path("subscribe"), :class => 'btn btn-success' %><% else %><%= link_to "Subscribe", new_subscription_path, :class => 'btn btn-success' %><% end %>
		<% end %>
		<%= link_to "Magazine archive", issues_path, :class => 'btn btn-default' %> <%= link_to "Article categories/themes", categories_path, :class => 'btn btn-default' %>
	</div>
	<div class="ios-home-ad">
		<a href="https://itunes.apple.com/au/app/new-internationalist-magazine/id711254931?mt=8&uo=4" target="itunes_store"><img src="/assets/app-store.svg" alt="Download the New Internationalist magazine app for iPad and iPhone." title="Download the New Internationalist magazine app for iPad and iPhone." /></a>
		<a href="https://play.google.com/store/apps/details?id=au.com.newint.newinternationalist"><img alt="Get New Internationalist magazine app on Google Play" title="Get New Internationalist magazine app on Google Play" src="/assets/google-play.svg" /></a>
		<!-- Share buttons -->
		<!-- <div class="fb-like" data-href="https://www.facebook.com/newint.au" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div> -->
		<!-- END Share buttons -->
	</div>
</div>

<div class="row">
	<!-- For subscribers -->
	<% if current_user.try(:subscriber?) or current_user.try(:admin?) %>
		<div class="col-sm-12">
			<h2>Latest magazines</h2>
			<p>These are the most recent magazines we've published. See the <%= link_to "Magazine archive", issues_path %> for a full list of issues.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(6).each do |issue| %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :itemprop => "image", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(issue), :itemprop => "url" %>
						<span class="hide-meta" itemprop="name"><%= issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
					</span>
					<% end %>
				<% end %>
			</div>
		</div>
	<% else %>
	<!-- For guests (not logged in) or non-subscribers -->
		<div class="col-sm-8">
			<h2>Latest magazines</h2>

			<p>Here are the most recent magazines we've published. Even if you haven't subscribed yet, you can still read the editor's letter for each issue and see a teaser of all the articles in that edition.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(4).each do |issue| %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(issue) %>
						<span class="hide-meta" itemprop="name"><%= issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
					</span>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-4">
			<h2>Try it first</h2>

			<p>Read a full sample magazine to see if you like it first.</p>

			<div class="home-cover-list">
				<% if @latest_free_issue %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(@latest_free_issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{@latest_free_issue.number} - #{@latest_free_issue.title} - #{@latest_free_issue.release.strftime("%B, %Y")}", :title => "NI #{@latest_free_issue.number} - #{@latest_free_issue.title} - #{@latest_free_issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(@latest_free_issue) %>
						<span class="hide-meta" itemprop="name"><%= @latest_free_issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= @latest_free_issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= @latest_free_issue.release.strftime("%e %B %Y") %></span>
					</span>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<hr />
<div class="row">
	<div class="col-sm-12">
		<h2>Latest feature articles</h2>
		<p>The <% if @features_category %><%= link_to 'feature articles', category_path(@features_category) %><% else %>feature articles<% end %> from each of the latest New Internationalist magazines.</p>
	</div>
</div>

<div class="row">
	<% if @keynotes %>
		<% @keynotes.sort_by(&:publication).reverse.each_with_index do |keynote, index| %>
			<% if index == 3 %>
</div>
<hr />
<div class="row">
			<% end %>
			<div class="col-sm-4 home-keynote">
				<%= render :partial => "home_article", :locals => { :article => keynote } %>
			</div>
		<% end %>
	<% end %>
</div>
<hr />
<div class="row">
	<div class="col-sm-12">
		<h2>From the archives</h2>
		<p>A selection of articles from the New Internationalist magazine archives.</p>
	</div>
</div>
<div class="row">
	<!-- Sample facts spread -->
	<% if @facts %>
		<div class="col-sm-6 home-keynote">
			<%= render :partial => "home_article", :locals => { :article => @facts } %>
		</div>
	<% end %>
	<!-- Sample country profile -->
	<% if @country_profile %>
		<div class="col-sm-6 home-keynote">
			<%= render :partial => "home_article", :locals => { :article => @country_profile } %>
		</div>
	<% end %>
</div>
<hr />
<div class="row">
	<!-- Sample cartoon -->
	<% if @cartoon %>
		<div class="col-sm-12 home-keynote">
			<%= render :partial => "home_article", :locals => { :article => @cartoon } %>
		</div>
	<% end %>
</div>
<hr />