<!-- Google Structured Data for search results -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "<%= ENV['APP_NAME'] %>",
  "url": "<%= root_url %>",
  "dateModified": "<%= @latest_issue.release.to_time.iso8601 %>",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://digital.newint.com.au/search?utf8=✓&query={search_term_string}",
    "query-input": "required name=search_term_string"
  },
  "sameAs": [
    "https://facebook.com/<%= ENV["FACEBOOK_PAGE_NAME"] %>",
    "https://instagram.com/<%= ENV["INSTAGRAM_NAME"] %>",
    "https://twitter.com/<%= ENV["TWITTER_NAME"] %>",
    "https://plus.google.com/+<%= ENV["GOOGLE_PLUS_NAME"] %>"
  ]
}
</script>

<% if @latest_issue.try(:keynote).try(:first_image) %>
	<div id="myCarousel" class="carousel slide home-hero">
    <!-- Keynote hero image -->
    <div class="carousel-inner">
      <div class="item active" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      	<% if user_signed_in? and can? :read, @latest_issue.keynote %>
	        <%= link_to image_tag(@latest_issue.keynote.first_image.data_url.to_s, :alt => "#{strip_tags(@latest_issue.keynote.first_image.caption)}", :title => "#{strip_tags(@latest_issue.keynote.first_image.caption)}", :width => "1050"), issue_article_path(@latest_issue,@latest_issue.keynote) %>
	      <% else %>
	      	<%= link_to image_tag(@latest_issue.keynote.first_image.data_url.to_s, :alt => "#{strip_tags(@latest_issue.keynote.first_image.caption)}", :title => "#{strip_tags(@latest_issue.keynote.first_image.caption)}", :width => "1050"), new_issue_purchase_path(@latest_issue) %>
	      <% end %>
        <meta itemprop="url" content="<%= @latest_issue.keynote.first_image.data_url.to_s %>">
        <meta itemprop="width" content="2100">
        <meta itemprop="height" content="888">
      </div>
    </div>
  </div>
<% end %>

<!-- Latest magazine information -->
<div class="row">
	<div class="col-sm-4">
		<div class="home-keynote no-gradient">
			<h6>This month's big story</h6>
			<%= render :partial => "home_article_no_image", :locals => { :article => @latest_issue.keynote } unless @latest_issue.keynote.nil? %>
		</div>
	</div>
	<div class="col-sm-4 home-latest-issue">
		<!-- Latest cover -->
		<%= link_to retina_image_tag(@latest_issue.cover_url(:home).to_s, :class => 'shadow-sm home-latest-cover', :alt => "NI #{@latest_issue.number} - #{@latest_issue.title} - #{@latest_issue.release.strftime("%B, %Y")}", :itemprop => "image", :title => "NI #{@latest_issue.number} - #{@latest_issue.title} - #{@latest_issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 282, :height => 400), issue_path(@latest_issue), :itemprop => "url" %>
		<% if user_signed_in? and can? :read, @latest_issue.keynote %>
			<p><%= link_to "Read this issue", issue_path(@latest_issue), :class => 'btn btn-outline-secondary btn-lg' %></p>
		<% else %>
			<p><%= link_to "Buy this issue $#{cents_to_dollars(Settings.issue_price)}", new_issue_purchase_path(@latest_issue), :class => 'btn btn-outline-secondary btn-lg' %></p>
		<% end %>
		<% if not user_signed_in? or not current_user.try(:subscriber?) %>
	  	<p><%= link_to "Subscribe from $#{cents_to_dollars(Subscription.calculate_subscription_price(3,autodebit: true))}", page_path("subscribe"), :class => 'btn btn-success btn-lg' %></p>
		<% end %>
  	<p class="ios-home-ad"><%= link_to image_tag('app-store.svg', alt: 'Download the New Internationalist magazine app for iPad and iPhone.', title: 'Download the New Internationalist magazine app for iPad and iPhone.'), "#{ENV["ITUNES_APP_LINK"]}" %><%= link_to image_tag('google-play.svg', alt: 'Get New Internationalist magazine app on Google Play', title: 'Get New Internationalist magazine app on Google Play'), "#{ENV["GOOGLE_PLAY_APP_LINK"]}" %></p>
	</div>
	<div class="col-sm-4 home-editor-note">
		<h4>A note from the editor</h4>
		<h3><%= @latest_issue.editors_name %></h3>
		<div class="home-editors-photo-container">
			<%= retina_image_tag @latest_issue.editors_photo_url(:thumb).to_s, :class => 'home-editors-photo', :alt => "#{@latest_issue.editors_name}", :title => "#{@latest_issue.editors_name}", :width => "100" %>
		</div>
		<div class="home-editor-letter"><p><%= simple_format truncate(@latest_issue.editors_letter, length: 350, escape: false) %></p></div>
		<p><%= link_to 'Read more...', issue_path(@latest_issue), :class => 'btn btn-outline-secondary' %></p>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-sm-12 social-networks">
		<h4>Find us on your favourite social network</h4>
		<p class="social-media">
      <a href="https://twitter.com/<%= ENV["TWITTER_NAME"] %>"><i class="fa fa-twitter"></i></a>
      <a href="https://facebook.com/<%= ENV["FACEBOOK_PAGE_NAME"] %>"><i class="fa fa-facebook-square"></i></a>
      <a href="https://plus.google.com/+<%= ENV["GOOGLE_PLUS_NAME"] %>"><i class="fa fa-google-plus"></i></a>
      <a href="https://instagram.com/<%= ENV["INSTAGRAM_NAME"] %>"><i class="fa fa-instagram"></i></a>
      <a href="https://www.youtube.com/user/<%= ENV["YOUTUBE_NAME"] %>/videos"><i class="fa fa-youtube"></i></a>
      <a href="<%= ENV["ITUNES_APP_LINK"] %>"><i class="fa fa-apple"></i></a>
      <a href="<%= ENV["GOOGLE_PLAY_APP_LINK"] %>"><i class="fa fa-android"></i></a>
      <!-- <a href="#"><i class="fa fa-github-alt"></i></a> -->
    </p>
	</div>
</div>

<%= render :partial => "shared/account_sign_up" %>

<hr />

<div class="row">
	<div class="col-sm-6 home-quick-reads">
		<h4><%= link_to "Today's quick reads", quick_reads_path %></h4>
		<div class="row">
		<% @quick_reads.each do |a| %>
			<% if user_signed_in? and can? :read, a %>
				<!-- Link to article -->
				<%= render :partial => "home_mini_article", :locals => { :article => a, :article_link => issue_article_path(a.issue, a) } %>
			<% else %>
				<!-- Link to quick reads page -->
				<%= render :partial => "home_mini_article", :locals => { :article => a, :article_link => quick_reads_path } %>
			<% end %>
		<% end %>
		</div>
	</div>
	<div class="col-sm-6 home-popular">
		<h4><%= link_to "Popular articles", popular_path %></h4>
		<div class="row">
		<% @popular.each do |article| %>
			<%= render :partial => "home_mini_article", :locals => { :article => article, :article_link => generate_guest_pass_link_string(article.popular_guest_pass) } %>
		<% end %>
		</div>
	</div>
</div>

<hr />

<div class="row">
	<nav class="col-sm-12 latest-issue-categories">
		<h6>What's inside this month's magazine</h6>
    <ul class="breadcrumb">
    <% if @latest_issue_categories %>
	    <% @latest_issue_categories.each do |category| %>
	      <li><%= link_to category.short_display_name, category_path(category), :class => 'badge badge-secondary' %></li>
	      <% if user_signed_in? and can? :manage, category %><li><%= category.name %></li><% end %>
	    <% end %>
	   <% end %>
    </ul>
  </nav>
</div>

<hr />

<div class="row">
	<!-- For subscribers -->
	<% if current_user.try(:subscriber?) or current_user.try(:admin?) %>
		<div class="col-sm-12">
			<h2>Magazine archive</h2>
			<p>These are the most recent magazines we've published. See the <%= link_to "Magazine archive", issues_path %> for a full list of issues.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(5).each do |issue| %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow-sm', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :itemprop => "image", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(issue), :itemprop => "url" %>
						<span class="hide-meta" itemprop="name"><%= issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
					</span>
					<% end %>
				<% end %>
			</div>
		</div>
	<% else %>
	<!-- For guests (not logged in) or non-subscribers -->
		<div class="col-sm-8">
			<h2>Magazine archive</h2>

			<p>Here are the <%= link_to "most recent magazines", issues_path %> we've published.</p>
			<div class="home-cover-list">
				<% if @issues %>
					<% @issues.sort_by(&:release).reverse.first(3).each do |issue| %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow-sm', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(issue) %>
						<span class="hide-meta" itemprop="name"><%= issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
					</span>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-4 home-free-issue">
			<h2>Try it first</h2>

			<p>Read a full sample magazine..</p>

			<div class="home-cover-list">
				<% if @latest_free_issue %>
					<span itemscope itemtype="http://schema.org/CreativeWork">
						<%= link_to retina_image_tag(@latest_free_issue.cover_url(:thumb).to_s, :class => 'shadow-sm', :alt => "NI #{@latest_free_issue.number} - #{@latest_free_issue.title} - #{@latest_free_issue.release.strftime("%B, %Y")}", :title => "NI #{@latest_free_issue.number} - #{@latest_free_issue.title} - #{@latest_free_issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(@latest_free_issue) %>
						<span class="hide-meta" itemprop="name"><%= @latest_free_issue.title %></span>
						<span class="hide-meta" itemprop="editor"><%= @latest_free_issue.editors_name %></span>
						<span class="hide-meta" itemprop="dateCreated"><%= @latest_free_issue.release.strftime("%e %B %Y") %></span>
					</span>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<hr />
<div class="row">
	<div class="col-sm-12">
		<h2>Latest blog and web-exclusive articles</h2>
		<p>New <% if @blog_category %><%= link_to 'blog posts', category_path(@blog_category) %><% else %>blog posts<% end %> and <% if @web_exclusive_category %><%= link_to 'web-exclusive articles', category_path(@web_exclusive_category) %><% else %>web-exclusive articles<% end %> from newint.org</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<%= render :partial => "home_article", :locals => { :article => @blog_latest } unless @blog_latest.nil? %>
	</div>
	<% if @web_exclusives %>
		<% @web_exclusives.each do |article| %>
			<div class="col-sm-4">
				<%= render :partial => "home_article", :locals => { :article => article } %>
			</div>
		<% end %>
	<% end %>
</div>

<hr />
<div class="row">
	<div class="col-sm-12">
		<h2>Recent feature articles</h2>
		<p>A selection of <% if @features_category %><%= link_to 'feature articles', category_path(@features_category) %><% else %>feature articles<% end %> from each of the latest New Internationalist magazines.</p>
	</div>
</div>

<div class="row">
	<% if @keynotes %>
		<% @keynotes.sort_by(&:publication).reverse.each_with_index do |keynote, index| %>
			<% if index == 3 %>
</div>
<div class="row">
			<% end %>
			<div class="col-sm-4">
				<%= render :partial => "home_article", :locals => { :article => keynote } %>
			</div>
		<% end %>
	<% end %>
</div>
<hr />
<div class="row">
	<div class="col-sm-12">
		<h2>From the archives</h2>
		<p>A selection of articles from the New Internationalist magazine archives.</p>
	</div>
</div>
<div class="row">
	<!-- Sample agenda articles -->
	<% if @agendas %>
		<% @agendas.each do |article| %>
			<div class="col-sm-4">
				<%= render :partial => "home_article", :locals => { :article => article } %>
			</div>
		<% end %>
	<% end %>
</div>
<div class="row">
	<!-- Media -->
	<% if @film %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @film } %>
		</div>
	<% end %>
	<% if @book %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @book } %>
		</div>
	<% end %>
	<% if @music %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @music } %>
		</div>
	<% end %>
</div>
<div class="row">
	<!-- Media -->
	<% if @letters_from %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @letters_from } %>
		</div>
	<% end %>
	<% if @making_waves %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @making_waves } %>
		</div>
	<% end %>
	<% if @world_beaters %>
		<div class="col-sm-4">
			<%= render :partial => "home_article", :locals => { :article => @world_beaters } %>
		</div>
	<% end %>
</div>
<div class="row">
	<!-- Sample facts spread -->
	<% if @facts %>
		<div class="col-sm-6">
			<%= render :partial => "home_article", :locals => { :article => @facts } %>
		</div>
	<% end %>
	<!-- Sample country profile -->
	<% if @country_profile %>
		<div class="col-sm-6">
			<%= render :partial => "home_article", :locals => { :article => @country_profile } %>
		</div>
	<% end %>
</div>
<hr />

<div class="row">
	<div class="col-sm-12">
		<h2>Social media</h2>
		<p>Follow us on <a href="https://twitter.com/<%= ENV["TWITTER_NAME"] %>">Twitter</a>, <a href="https://facebook.com/<%= ENV["FACEBOOK_PAGE_NAME"] %>">Facebook</a> &amp; <a href="https://instagram.com/<%= ENV["INSTAGRAM_NAME"] %>">Instagram</a></p>
	</div>
</div>

<!-- Social media -->
<div class="row">
	<div class="col-sm-4">
		<!-- Twitter -->
		<p class="social-media"><a href="https://twitter.com/<%= ENV["TWITTER_NAME"] %>"><i class="fa fa-twitter"></i></a></p>
		<hr />
		<a class="twitter-timeline" 
			data-dnt="true" 
			href="https://twitter.com/<%= ENV["TWITTER_NAME"] %>" 
			data-widget-id="715691594532294656"
			data-chrome="noheader nofooter noborders"
			data-tweet-limit="3"
			height="600">
		</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="col-sm-4">
		<p class="social-media"><a href="https://facebook.com/<%= ENV["FACEBOOK_PAGE_NAME"] %>"><i class="fa fa-facebook-square"></i></a></p>
		<hr />
		<!-- Facebook -->
		<div class="fb-page" 
			data-href="https://www.facebook.com/<%= ENV["FACEBOOK_PAGE_NAME"] %>/" 
			data-tabs="timeline" 
			data-small-header="true" 
			data-adapt-container-width="true" 
			data-hide-cover="true" 
			data-show-facepile="false"
			data-height="800">
		<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/<%= ENV["FACEBOOK_PAGE_NAME"] %>/"><a href="https://www.facebook.com/<%= ENV["FACEBOOK_PAGE_NAME"] %>/">New Internationalist Australia</a></blockquote></div></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=194389730710694"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
	</div>
	<div class="col-sm-4">
		<p class="social-media"><a href="https://instagram.com/<%= ENV["INSTAGRAM_NAME"] %>"><i class="fa fa-instagram"></i></a></p>
		<hr />
		<!-- Instagram -->
		<% if @instagram_json %>
			<% @instagram_json.first(4).each do |item| %>
				<div class="instagram">
					<a href="<%= item["link"] %>"><img src="<%= item["images"]["standard_resolution"]["url"] %>" alt="<%= strip_tags(item["caption"]["text"]) %>" title="<%= strip_tags(item["caption"]["text"]) %>"></a>
					<!-- <h4><a href="<%= item["link"] %>"><%= strip_tags(item["caption"]["text"]) %></a></h4> -->
					<h5><%= DateTime.strptime(item["created_time"].to_s,'%s').try(:strftime,"#{DateTime.strptime(item["created_time"].to_s,'%s').day.ordinalize} %B %Y") %> by <%= link_to "#{ENV["INSTAGRAM_NAME"]}", "https://instagram.com/#{ENV["INSTAGRAM_NAME"]}" %></h5>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<hr />
<div class="row">
	<!-- Sample cartoon -->
	<% if @cartoon %>
		<div class="col-sm-12">
			<%= render :partial => "home_article", :locals => { :article => @cartoon } %>
		</div>
	<% end %>
</div>
<hr />
