<%- model_class = Page -%>

<% if can? :update, @page %>
  <div class="edit-article-buttons">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_page_path(@page), :class => 'btn btn-primary btn-xs' %>
    <% if can? :destroy, @page %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  page_path(@page),
                :method => 'delete',
                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                  :class => 'btn btn-xs btn-danger' %> |
      <%= link_to 'New Page',
            new_page_path,
            :class => 'btn btn-xs btn-success' %>
    <% end %>
  </div>
<% end %>

<div class="page-header">
  <h1><%= @page.title %></h1>
  <% if @page.permalink == "subscribe" %>
    <%= retina_image_tag 'paypal.png', :alt => 'Secure payments by PayPal', :title => 'Secure payments by PayPal', :size => "200x51", :class => 'subscribe-image' %>
  <% end %>
  <% if not @page.teaser.blank? %>
    <h3><%= simple_format @page.teaser %></h3>
  <% end %>
</div>

<div class="page-body">
  <% if @page.permalink == "offer" %>
    <div class="home-cover-list">
      <% if @issues %>
        <% @issues.each do |issue| %>
        <span itemscope itemtype="http://schema.org/CreativeWork">
          <%= link_to retina_image_tag(issue.cover_url(:thumb).to_s, :class => 'shadow', :alt => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :title => "NI #{issue.number} - #{issue.title} - #{issue.release.strftime("%B, %Y")}", :rel => "tooltip", :width => 141, :height => 200), issue_path(issue) %>
          <span class="hide-meta" itemprop="name"><%= issue.title %></span>
          <span class="hide-meta" itemprop="editor"><%= issue.editors_name %></span>
          <span class="hide-meta" itemprop="dateCreated"><%= issue.release.strftime("%e %B %Y") %></span>
        </span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @page.permalink == "seven-good-reasons-to-subscribe" %>
    <%= retina_image_tag(@current_issue.cover_url(:thumb).to_s, :alt => "#{@current_issue.title} - #{@current_issue.release.strftime("%B, %Y")}", :title => "#{@current_issue.title} - #{@current_issue.release.strftime("%B, %Y")}", :size => "141x200", :class => 'subscribe-current-issue') %>
  <% end %>
  <%= simple_format @page.body %>
  <div id="thawteseal" style="text-align:center;" title="Click to Verify - This site chose Thawte SSL for secure e-commerce and confidential communications.">
    <div><script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=digital.newint.com.au&amp;size=M&amp;lang=en"></script></div>
  </div>
</div>

<div class="clearfix"></div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn btn-default'  %>
  <% if can? :update, @page %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_page_path(@page), :class => 'btn btn-primary' %>
  <% end %>
  <% if can? :destroy, @page %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              page_path(@page),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
<% if @page.permalink == "subscribe" or @page.permalink == "seven-good-reasons-to-subscribe" %>
  <%= render :partial => "shared/privacy" %>
<% end %>