<% if @cancel_subscription %>

	<% if @user.subscriber? %>
		<dl class="dl-horizontal">
			<dt>Expiry date:</dt> 
		<% begin %>
			<dd><%= @user.expiry_date.strftime("%e %B, %Y") %></dd>
		<% rescue NoMethodError %>
			<dd>No current subscription.</dd>
		<% end %>
		</dl>
	<% end %>

	<%= simple_form_for(@subscription) do |f| %>

	  <h3>Are you sure you want to cancel your subscription?</h3>
	  <dl class="dl-horizontal subscribe-options">
	  	<dt><%= radio_button_tag 'cancel', 'true', 'false' %></dt>
	  	<dd>Yes, I'm sure.</dd>
	  	<dt><%= radio_button_tag 'cancel', 'false', 'true' %></dt>
	  	<dd>No, I'm not really sure.</dd>
	  
	  <div class="form-actions">
	  	<%= f.button :submit, :class => 'btn-danger' %>
	  	<%= link_to "Back", user_path(@user), :class => 'btn' %>
	  </div>
	<% end %>

<% elsif @has_token %>

	<%= simple_form_for(@subscription) do |f| %>

	  <dl class="dl-horizontal">
	  	<dt><strong>Name:</strong></dt>
	  	<dd><%= session[:express_first_name] %> <%= session[:express_last_name] %></dd>
		<% if session[:express_autodebit] %>
			<dt><strong>Debit every:</strong></dt>
			<dd><%= session[:express_purchase_subscription_duration] %> months</dd>
			<dt><strong>Debit amount:</strong></dt>
			<dd>$<%= number_with_precision((session[:express_purchase_price] / 100), :precision => 2) %></dd>
		<% else %>
			<dt><strong>Subscription:</strong></dt>
			<dd><%= session[:express_purchase_subscription_duration] %> months</dd>
			<dt><strong>Amount:</strong></dt>
			<dd>$<%= number_with_precision((session[:express_purchase_price] / 100), :precision => 2) %></dd>
		<% end %>
	  </dl>
	  
	  <div class="form-actions">
	  	<%= f.button :submit, "Complete your purchase", :class => 'btn-success', :onclick => "#{ analytics_track_event ENV['GOOGLE_CONVERSION_ID'], 'buy', ENV['GOOGLE_CONVERSION_LABEL'], number_with_precision((session[:express_purchase_price] / 100), :precision => 2) }" %>
	  	<%= link_to 'Cancel', user_path(@user), :class => 'btn' %>
	  </div>
	  <!-- Google Adwords conversion tracking -->
	  <% if Rails.env.production? %>
	  <script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = <%= ENV["GOOGLE_CONVERSION_ID"] %>;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "<%= ENV['GOOGLE_CONVERSION_LABEL'] %>"; 
		var google_conversion_value = <%= number_with_precision((session[:express_purchase_price] / 100), :precision => 2) %>;
		/* ]]> */
	  </script>
	  <script type="text/javascript"
		src="http://www.googleadservices.com/pagead/conversion.js">
	  </script>
	  <noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt=""
		src="http://www.googleadservices.com/pagead/conversion/<%= ENV["GOOGLE_CONVERSION_ID"] %>/?value=tot
		alValue&amp;label=<%= ENV["GOOGLE_CONVERSION_LABEL"] %>&amp;guid=ON&amp;script=0"/>
		</div>
	  </noscript>
	  <% end %>
	  <!-- END Google Adwords conversion tracking -->
	<% end %>

<% else %>

	<div class="subscription-top-image">
		<%= retina_image_tag 'devices-paper.png', :alt => 'Subscription options', :title => 'Subscription options', :size => "272x105" %>
	</div>

	<%= subscription_price_table %>

	<%= simple_form_for(@subscription, :url => { :action => "express" }, :method => :get) do |f| %>
	  <hr />
	  <h2>Please select the subscription duration you'd like</h2>
	  <dl class="dl-horizontal subscribe-options">
	  	<dt><%= radio_button_tag 'duration', '3', 'false' %></dt>
	  	<dd>3 Month Subscription</dd>
	  	<dt><%= radio_button_tag 'duration', '6', 'false' %></dt>
	  	<dd>6 Month Subscription</dd>
	  	<dt><%= radio_button_tag 'duration', '12', 'true' %></dt>
	  	<dd>12 Month Subscription</dd>
	  </dl>
	  <hr />
	  <h2>Automatic debit?</h2>
	  <p>Would you like NI to automatically debit your PayPal account until you tell us to stop?</p>
	  <p>The debits will occur every 3, 6 or 12 months, depending on the option you chose above.</p>
	  <dl class="dl-horizontal subscribe-options">
	  	<dt><%= radio_button_tag 'autodebit', '1', 'false' %></dt>
	  	<dd>Yes please!</dd>
	  	<dt><%= radio_button_tag 'autodebit', '0', 'true' %></dt>
	  	<dd>No thanks, just a single debit this time.</dd>
	  </dl>
	  <hr />
	  <h2>Paper edition?</h2>
	  <p>Would you like a copy of the paper edition as well as the digital edition?</p>
	  <dl class="dl-horizontal subscribe-options">
	  	<dt><%= radio_button_tag 'paper', '1', 'false' %></dt>
	  	<dd>Yes, paper copy too please.</dd>
	  	<dt><%= radio_button_tag 'paper', '0', 'true' %></dt>
	  	<dd>No thanks, just a digital edition.</dd>
	  </dl>

	  <div class="form-actions">
	  	<%= f.button :submit, 'Pay with PayPal Express', :class => 'btn-success' %>
	  	<%= link_to 'Cancel', user_path(@user), :class => 'btn' %>
	  </div>
	<% end %>

<% end %>


