<% if @cancel_subscription %>

	<% if @user.subscriber? and not @subscription.paper_only? %>
		<dl class="dl-horizontal">
			<dt>Expiry date:</dt> 
		<% begin %>
			<dd><%= @user.expiry_date.strftime("%e %B, %Y") %></dd>
		<% rescue NoMethodError %>
			<dd>No current subscription.</dd>
		<% end %>
		</dl>
	<% elsif @user.subscriber? %>
		<% if @user.has_paper_only? %>
		<dl class="dl-horizontal">
			<dt>Subscription expires:</dt>
			<dd><% begin %>
				<%= @user.expiry_date_paper_only.strftime("%e %B, %Y") %>
			<% rescue NoMethodError %>
				No current subscription.
			<% end %></dd>
		</dl>
		<% end %>
	<% end %>

	<%= simple_form_for(@subscription) do |f| %>

	  <h3>Are you sure you want to cancel your subscription?</h3>
	  <dl class="dl-horizontal subscribe-options">
	  	<dt><%= radio_button_tag 'cancel', 'true', 'false' %></dt>
	  	<dd>Yes, I'm sure.</dd>
	  	<dt><%= radio_button_tag 'cancel', 'false', 'true' %></dt>
	  	<dd>No, I'm not really sure.</dd>
	  
	  <div class="form-actions">
	  	<%= f.button :submit, class: 'btn-danger' %>
	  	<%= link_to "Back", user_path(@user), class: 'btn btn-outline-secondary' %>
	  </div>
	<% end %>

<% else %>

	<div class="subscription-options">
		<p>Select a subscription option, then complete checkout with PayPal.</p>
		<table class="table table-striped subscription-price-table">
			<thead>
				<tr>
					<th>Subscription option</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @subscription_options.each do |option| %>
					<tr>
						<td><%= option.name %></td>
						<td>$<%= cents_to_dollars(option.price_cents) %></td>
						<td><%= link_to "Choose", new_subscription_path(option.to_h), class: "btn btn-success btn-sm" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<% if @selected_subscription_option.present? %>
		<hr />
		<div
			class="selected-subscription-checkout"
			data-paypal-subscription
			data-option="<%= json_escape(@selected_subscription_option.to_h.to_json) %>"
			data-create-order-url="<%= paypal_order_subscriptions_path %>"
			data-create-subscription-url="<%= paypal_subscription_subscriptions_path %>"
			data-finalize-order-url="<%= subscriptions_path %>"
			data-finalize-subscription-url="<%= paypal_subscription_approval_subscriptions_path %>"
			data-success-url="<%= user_path(@user) %>"
			data-subscription-price="<%= cents_to_dollars(@selected_subscription_option.price_cents) %>"
			data-subscription-type="<%= @selected_subscription_option.name %>"
			data-purchase-id="user<%= @user.id %>subscription<%= @selected_subscription_option.key %>"
			data-subscription-number="<%= @selected_subscription_option.duration %>">
			<h3>Selected option</h3>
			<p><strong><%= @selected_subscription_option.name %></strong></p>
			<p>$<%= cents_to_dollars(@selected_subscription_option.price_cents) %></p>
			<div id="paypal-subscription-button"></div>
			<p class="alert alert-danger mt-3 d-none" data-paypal-error></p>
		</div>

		<% content_for :head do %>
			<script src="<%= @paypal_sdk_url %>"></script>
		<% end %>
	<% end %>

<% end %>

