<div class="page-header">
	<h1>Admin section</h1>
</div>

<p><%= link_to "Settings", admin_settings_path, :class => 'btn btn-warning' %> Set the pagination on search pages and change prices.</p>
<p><%= link_to "List Users", admin_users_path, :class => 'btn btn-default' %> A list of all user accounts and their expiry dates.</p>
<p>
	<%= link_to "Update CSV user list", admin_users_update_csv_path, :class => 'btn btn-primary' %> 
	<% if @latest_csv_date %>
		<%= link_to "Download CSV (#{@latest_csv_date}.csv)", admin_users_download_csv_path(format: 'csv'), :class => 'btn btn-info' %>
	<% else %>
		<%= link_to "Generating... (click to reload)", admin_root_path, :class => 'btn btn-default' %>
	<% end %>
</p>
<p><%= link_to "Create a page", new_page_path, :class => 'btn btn-success' %> A static page (help, about, privacy etc..). <%= link_to "All pages", pages_path %></p>
<p><%= link_to "Guest Passes", admin_guest_passes_path, :class => 'btn btn-default' %></p>

<hr />

<h4>Preview system emails</h4>

<p><%= link_to "Welcome email - html", admin_welcome_email_path(format: 'mjml'), :class => 'btn btn-default' %> <%= link_to "Welcome email - text", admin_welcome_email_path(format: 'text'), :class => 'btn btn-default' %></p>
<p><%= link_to "Subscription email - html", admin_subscription_email_path(format: 'mjml'), :class => 'btn btn-default' %> <%= link_to "Subscription email - text", admin_subscription_email_path(format: 'text'), :class => 'btn btn-default' %></p>
<p><%= link_to "Monthly email newsletters", issue_path(Issue.latest), :class => 'btn btn-default' %></p>

<div class="form-actions">
	<%= link_to 'Back', root_path, :class => 'btn btn-default' %>
</div>