<%= simple_form_for [:admin, @user], :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <% if not @user.parent_id.nil? %>
    	<%= f.input :ip_whitelist %>
    <% end %>
  
  <div class="form-actions">
    	<%= f.button :submit, :class => 'btn btn-success' %>
	    <%= link_to "Cancel", :back, :class => 'btn' %>
  </div>
  
<% end %>