<div class="page-header">
	<h1>All users</h1>
</div>

<% if can? :update, @user %>
	<div class="edit-issue-buttons">
		<%= link_to 'Download a CSV file', admin_users_path(:format => :csv), :class => 'btn btn-warning' %>
		<%= link_to 'Try the new way', admin_root_path, :class => 'btn btn-outline-secondary' %>
		<%= link_to 'List all users on this page', admin_users_path(users_per_page: 10000), :class => 'btn btn-outline-secondary' %>
	</div>
<% end %>

<p>There are currently <b><%= pluralize @total_users, "user" %></b>, <b><%= pluralize @subscribers.try(:size), "subscriber" %></b>, <b><%= pluralize @institutions.try(:size), "institution" %></b> and <b><%= pluralize @students.try(:size), "student" %></b></p>
<p>UK users: <b><%= pluralize @uk_users.try(:size), "user" %></b></p>
<p>They have created <b><%= pluralize @guest_passes.try(:size), "guest pass" %></b></p>

<%== pagy_bootstrap_nav(@pagy) %>

<%= render :partial => "users_table", :locals => { :users => @users } %>

<%== pagy_bootstrap_nav(@pagy) %>

<div class="form-actions">
	<%= link_to "New User", new_admin_user_path, :class => 'btn btn-success' %>
	<%= link_to "Back", admin_root_path, :class => 'btn btn-outline-secondary' %>
</div>
