<div class="page-header">
	<h1>All users</h1>
</div>

<% if can? :update, @user %>
	<div class="edit-issue-buttons">
		<%= link_to 'Download a CSV file', admin_users_path(:format => :csv), :class => 'btn btn-mini btn-warning' %>
	</div>
<% end %>

<p>There are currently <b><%= pluralize @users.try(:size), "user" %></b>, <b><%= pluralize @subscribers.try(:size), "subscriber" %></b>, <b><%= pluralize @institutions.try(:size), "institution" %></b> and <b><%= pluralize @students.try(:size), "student" %></b></p>
<p>They have created <b><%= pluralize @guest_passes.try(:size), "guest pass" %></b></p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th><%= sortable "email" %></th>
			<th><%= sortable "username" %></th>
			<th>Type</th>
			<th><%= sortable "created_at", "Joined" %></th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.email, [:admin, user] %><% if user.subscriber? %> (<%= user.subscriptions.last.paypal_email %>)<% end %></td>
			<td><%= user.username %></td>
			<td><%= user.user_type %></td>
			<td><%= user.created_at.strftime("%B, %Y") %></td>
			<td><%= link_to "Show", [:admin, user], :class => 'btn btn-mini' %>
                <%= link_to "Become", [:admin, user, :become], :class => 'btn btn-mini btn-success' %>
				<%= link_to "Edit", edit_admin_user_path(user), :class => 'btn btn-mini btn-primary' %>
				<%= link_to "Delete", admin_user_path(user), :method => :delete, :confirm => "Are you sure you want to delete this user?", :class => 'btn btn-mini btn-danger' %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<div class="form-actions">
	<%= link_to "New User", new_admin_user_path, :class => 'btn btn-success' %>
	<%= link_to "Back", admin_root_path, :class => 'btn' %>
</div>
