<div class="page-header">
	<h1><%= @user %></h1>
	<%= link_to "Edit subscriber", edit_admin_user_path(@user), :class => 'btn btn-primary' %>
</div>

<dl class="dl-horizontal admin">
	<dt>Email address:</dt>
	<dd><%= @user.email %></dd>
	<dt>User type:</dt>
	<dd><%= @user.user_type %></dd>
	<% if not @user.ip_whitelist.blank? %>
		<dt>IP whitelist:</dt>
		<dd><%= @user.ip_whitelist %></dd>
	<% end %>
	<dt>Login count:</dt>
	<dd><%= @user.sign_in_count %> <span class="author-note">(<%= @user.current_sign_in_at.try(:strftime,"%d %b, %Y") %> - <%= @user.current_sign_in_ip %>)</span></dd>
	<% if @user.has_paper_only? or @user.had_paper_only? %>
		<dt>Digital expiry:</dt>
	<% else %>
		<dt>Expiry date:</dt>
	<% end %>
	<dd><%= user_expiry_as_string(@user) %><br />
		<% if @user.is_recurring? and @user.has_paper_copy? and not @user.has_paper_only? %>
			(Automatic debit, Digital + Paper edition)
		<% elsif @user.was_recurring? and @user.has_cancelled_recurring? and not @user.has_paper_only? %>
			(Automatic debit - CANCELLED)
		<% elsif @user.is_recurring? and not @user.has_paper_only? %>
			(Automatic debit)
		<% elsif @user.is_recurring? and @user.has_paper_only? %>
			(Automatic debit paper only)
		<% elsif @user.has_paper_only? %>
			(3 month digital trial with paper only subscription)
		<% end %>
	</dd>
	<% if @user.has_paper_only? or @user.had_paper_only? %>
		<!-- Paper only -->
		<dt>Paper expiry:</dt>
		<dd><% begin %>
			<%= @user.expiry_date_paper_only.strftime("%e %B, %Y") %>
		<% rescue NoMethodError %>
			No current subscription.
		<% end %></dd>
		<% if @user.subscriber? and @user.is_recurring? %>
			<dt></dt>
			<dd>(Automatic renewal)</dd>
		<% end %>
	<% end %>
	<% if @payment_notifications.last %>
		<dt>Last transaction:</dt>
		<dd><%= @payment_notifications.last.transaction_type %> <span class="author-note">(<%= @payment_notifications.last.created_at.try(:strftime,"%d %b, %Y") %>)</span></dd>
	<% end %>
	<dt>&nbsp;</dt>
	<dd>&nbsp;</dd>
	<% if @user.subscription_lapsed? and (@user.refunds_due > 0) %>
		<dt>Refund due:</dt>
		<dd>$<%= cents_to_dollars(@user.refunds_due) %></dd>
	<% end %>
	<dt>&nbsp;</dt>
	<dd>&nbsp;</dd>
	<% if @user.subscriber? and @user.is_recurring? and not @user.has_refunded_recurring? %>
		<dt>PayPal Name:</dt>
		<dd><%= @user.recurring_subscription.paypal_first_name %> <%= @user.recurring_subscription.paypal_last_name %>&nbsp;</dd>
		<dt>PayPal Payer ID:</dt>
		<dd><%= @user.recurring_subscription.paypal_payer_id %>&nbsp;</dd>
		<dt>PayPal email:</dt>
		<dd><%= @user.recurring_subscription.paypal_email %>&nbsp;</dd>
		<% if !@user.recurring_subscription.paypal_profile_id.blank? %>
			<dt>PayPal Recurring Profile ID:</dt>
			<dd><%= @user.recurring_subscription.paypal_profile_id %>&nbsp;</dd>
		<% end %>
	<% end %>
</dl>

<% if can? :update, @user %>
	<div class="edit-issue-buttons">
		<h2>Add institutional subscriptions</h2>
		<%= link_to "$#{cents_to_dollars(Subscription.calculate_subscription_price(12, institution: true))} - 1 year digital subscription",
			admin_user_add_subscription_path(
				@user,
				number_of_months: 12,
				send_email: 1,
				institution: 1,
				price_paid: Subscription.calculate_subscription_price(12, institution: true)
			),
			:class => 'btn btn-xs btn-warning',
			:data => {
				:confirm => t('.confirm', :default => t("Are you sure you want to give a 1 year institutional digital subscription to: '#{@user.username}'?",
				:default => "Are you sure you want to give a 1 year institutional digital subscription to: '#{@user.username}'?"))
			}
		%>
		<%= link_to "$#{cents_to_dollars(Subscription.calculate_subscription_price(12, institution: true, paper: true))} - 1 year digital and paper subscription",
			admin_user_add_subscription_path(
				@user,
				number_of_months: 12,
				send_email: 1,
				institution: 1,
				paper_copy: 1,
				price_paid: Subscription.calculate_subscription_price(12, institution: true, paper: true)
			),
			:class => 'btn btn-xs btn-warning',
			:data => {
				:confirm => t('.confirm', :default => t("Are you sure you want to give a 1 year institutional digital and paper subscription to: '#{@user.username}'?",
				:default => "Are you sure you want to give a 1 year institutional digital and paper subscription to: '#{@user.username}'?"))
			}
		%>
		<%= link_to "$#{cents_to_dollars(Subscription.calculate_subscription_price(12, institution: true, paper: true, paper_only: true))} - 1 year paper subscription",
			admin_user_add_subscription_path(
				@user,
				number_of_months: 12,
				send_email: 1,
				institution: 1,
				paper_copy: 1,
				paper_only: 1,
				price_paid: Subscription.calculate_subscription_price(12, institution: true, paper: true, paper_only: true)
			),
			:class => 'btn btn-xs btn-warning',
			:data => {
				:confirm => t('.confirm', :default => t("Are you sure you want to give a 1 year institutional paper subscription to: '#{@user.username}'?",
				:default => "Are you sure you want to give a 1 year institutional paper subscription to: '#{@user.username}'?"))
			}
		%>
		<hr />
		<h2>Add personal subscriptions</h2>
		<%= link_to "$#{cents_to_dollars(Subscription.calculate_subscription_price(12))} - 1 year digital subscription",
			admin_user_add_subscription_path(
				@user,
				number_of_months: 12,
				send_email: 1,
				price_paid: Subscription.calculate_subscription_price(12)
			),
			:class => 'btn btn-xs btn-warning',
			:data => {
				:confirm => t('.confirm', :default => t("Are you sure you want to give a 1 year digital subscription to: '#{@user.username}'?",
				:default => "Are you sure you want to give a 1 year digital subscription to: '#{@user.username}'?"))
			}
		%>
		<%= link_to "$#{cents_to_dollars(Subscription.calculate_subscription_price(12, paper: true))} - 1 year digital and paper subscription",
			admin_user_add_subscription_path(
				@user,
				number_of_months: 12,
				send_email: 1,
				paper_copy: 1,
				price_paid: Subscription.calculate_subscription_price(12, paper: true)
			),
			:class => 'btn btn-xs btn-warning',
			:data => {
				:confirm => t('.confirm', :default => t("Are you sure you want to give a 1 year digital and paper subscription to: '#{@user.username}'?",
				:default => "Are you sure you want to give a 1 year digital and paper subscription to: '#{@user.username}'?"))
			}
		%>
		<%= link_to "$#{cents_to_dollars(Subscription.calculate_subscription_price(12, paper: true, paper_only: true))} - 1 year paper subscription",
			admin_user_add_subscription_path(
				@user,
				number_of_months: 12,
				send_email: 1,
				paper_copy: 1,
				paper_only: true,
				price_paid: Subscription.calculate_subscription_price(12, paper: true, paper_only: true)
			),
			:class => 'btn btn-xs btn-warning',
			:data => {
				:confirm => t('.confirm', :default => t("Are you sure you want to give a 1 year paper subscription to: '#{@user.username}'?",
				:default => "Are you sure you want to give a 1 year paper subscription to: '#{@user.username}'?"))
			}
		%>
		<% if not @user.institution %>
			<%= link_to 'Make this user an Institutional user', admin_user_make_institutional_path(@user), :class => 'btn btn-xs btn-success', :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you want to give Institutional powers to: '#{@user.username}'?"))} %>
		<% end %>
		<hr />
		<h3>Add digital subscription</h3>
		<%= simple_form_for admin_user_add_subscription_path(@user), :url => admin_user_add_subscription_path(@user), :html => {:class => 'form-inline admin-free-sub' } do |f| %>
				<%= f.input :number_of_months, :placeholder => 'Months', as: :integer, required: false, label: false %>
				<%= f.input :send_email, as: :boolean, default: false %>
				<%= button_tag(type: 'submit', class: "btn btn-success btn-xs") do %>
					Give digital subscription
				<% end %>
		<% end %>
		<hr />
		<h3>Add digital & paper subscription</h3>
		<%= simple_form_for admin_user_add_subscription_path(@user), :url => admin_user_add_subscription_path(@user), :html => {:class => 'form-inline admin-free-sub' } do |f| %>
				<%= f.input :number_of_months, :placeholder => 'Months', as: :integer, required: false, label: false %>
				<%= f.input :send_email, as: :boolean, default: false %>
				<%= f.hidden_field :paper_copy, value: true %>
				<%= button_tag(type: 'submit', class: "btn btn-success btn-xs") do %>
					Give digital & paper subscription
				<% end %>
		<% end %>
		<hr />
		<h3>Add paper only subscription</h3>
		<%= simple_form_for admin_user_add_subscription_path(@user), :url => admin_user_add_subscription_path(@user), :html => {:class => 'form-inline admin-free-sub' } do |f| %>
				<%= f.input :number_of_months, :placeholder => 'Months', as: :integer, required: false, label: false %>
				<%= f.input :send_email, as: :boolean, default: false %>
				<%= f.hidden_field :paper_copy, value: true %>
				<%= f.hidden_field :paper_only, value: true %>
				<%= button_tag(type: 'submit', class: "btn btn-success btn-xs") do %>
					Give paper only subscription
				<% end %>
		<% end %>
		<hr />
		<p>HTML and Text to re-send sign-up emails:</p>
		<%= link_to "Sign-up confirmation html", user_path(@user,format: 'mjml'), class: 'btn btn-outline-secondary' %> <%= link_to "Sign-up confirmation text", user_path(@user,format: 'text'), class: 'btn btn-outline-secondary' %>
	</div>
<% end %>

<h3>Extended details</h3>
<dl class="dl-horizontal admin">
  <dt>Title:</dt><dd><%= @user.title.blank? ? '-' : @user.title %></dd>
  <dt>First name:</dt><dd><%= @user.first_name.blank? ? '-' : @user.first_name %></dd>
  <dt>Last name:</dt><dd><%= @user.last_name.blank? ? '-' : @user.last_name %></dd>
  <dt>Company name:</dt><dd><%= @user.company_name.blank? ? '-' : @user.company_name %></dd>
  <dt>Address:</dt><dd><%= @user.address.blank? ? '-' : @user.address %></dd>
  <dt>Postal code:</dt><dd><%= @user.postal_code.blank? ? '-' : @user.postal_code %></dd>
  <dt>Suburb or Town:</dt><dd><%= @user.city.blank? ? '-' : @user.city %></dd>
  <dt>State:</dt><dd><%= @user.state.blank? ? '-' : @user.state %></dd>
  <dt>Country:</dt><dd><%= @user.country.blank? ? '-' : @user.country_name %></dd>
  <dt>Phone:</dt><dd><%= @user.phone.blank? ? '-' : @user.phone %></dd>
  <dt>Postal mailable:</dt><dd><%= @user.postal_mailable.blank? ? '-' : @user.postal_mailable %></dd>
  <dt>Postal mailable updated:</dt><dd><%= @user.postal_mailable_updated.blank? ? '-' : @user.postal_mailable_updated %></dd>
  <dt>Postal address updated:</dt><dd><%= @user.postal_address_updated.blank? ? '-' : @user.postal_address_updated %></dd>
  <dt>Email opt in:</dt><dd><%= @user.email_opt_in.blank? ? '-' : @user.email_opt_in %></dd>
  <dt>Email opt in_updated:</dt><dd><%= @user.email_opt_in_updated.blank? ? '-' : @user.email_opt_in_updated %></dd>
  <dt>Email updated:</dt><dd><%= @user.email_updated.blank? ? '-' : @user.email_updated %></dd>
  <dt>Paper renewals:</dt><dd><%= @user.paper_renewals.blank? ? '-' : @user.paper_renewals %></dd>
  <dt>Digital renewals:</dt><dd><%= @user.digital_renewals.blank? ? '-' : @user.digital_renewals %></dd>
  <dt>Subscriptions order total:</dt><dd><%= @user.subscriptions_order_total.blank? ? '-' : number_to_currency(@user.subscriptions_order_total, :unit => '$') %></dd>
  <dt>Most recent subscriptions order:</dt><dd><%= @user.most_recent_subscriptions_order.blank? ? '-' : @user.most_recent_subscriptions_order %></dd>
  <dt>Products order total:</dt><dd><%= @user.products_order_total.blank? ? '-' : number_to_currency(@user.products_order_total, :unit => '$') %></dd>
  <dt>Most recent products order:</dt><dd><%= @user.most_recent_products_order.blank? ? '-' : @user.most_recent_products_order %></dd>
  <dt>Annuals buyer:</dt><dd><%= @user.annuals_buyer.blank? ? '-' : @user.annuals_buyer %></dd>
  <dt>Comments:</dt><dd><%= @user.comments.blank? ? '-' : @user.comments %></dd>
</dl>

<% if @user.institution %>
	<h3>Student accounts</h3>
	<%= children_as_table(@user.children) %>
<% end %>

<h3>Purchases</h3>
<%= purchases_as_table(@user.purchases) %>

<h3>Subscriptions</h3>
<%= subscriptions_as_table(@user.subscriptions) %>

<h3>Payment Notifications (PayPal)</h3>
<%= payment_notifications_as_table(@payment_notifications) %>

<h3>Favourite articles</h3>
<%= favourites_as_table(@user.favourites) %>

<h3>Shared articles:</h3>
<%= guest_passess_as_table(@user.guest_passes, true) %>

<div class="form-actions">
	<%= link_to "Back", admin_users_path, :class => 'btn btn-outline-secondary' %>
	<%= link_to "Edit User", edit_admin_user_path(@user), :class => 'btn btn-primary' %>
	<%= link_to "Delete User", admin_user_path(@user), :method => :delete, :data => {:confirm => "Are you sure you want to delete this user?"}, :class => 'btn btn-danger' %>
</div>