<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<%= retina_image_tag @showimage.data_url(:threehundred).to_s, :alt => "#{strip_tags(@showimage.caption)}", :title => "#{strip_tags(@showimage.caption)}", :size => "300" %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
  <dd><%= @showimage.data %></dd>
  <dt><strong><%= model_class.human_attribute_name(:article_id) %>:</strong></dt>
  <dd><%= link_to @showimage.article_id, issue_article_path(@issue,@article) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:media_id) %>:</strong></dt>
  <dd><%= @showimage.media_id ? @showimage.media_id : "none" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:height) %>:</strong></dt>
  <dd><%= @showimage.height %></dd>
  <dt><strong><%= model_class.human_attribute_name(:width) %>:</strong></dt>
  <dd><%= @showimage.width %></dd>
  <dt><strong><%= model_class.human_attribute_name(:caption) %>:</strong></dt>
  <dd><%= @showimage.caption? ? @showimage.caption : '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:credit) %>:</strong></dt>
  <dd><%= @showimage.credit? ? @showimage.credit : '-' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hidden) %>:</strong></dt>
  <dd><%= @showimage.hidden ? 'hidden' : 'no' %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              issue_article_images_path(@issue,@article), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_issue_article_image_path(@issue, @article, @showimage), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              issue_article_image_path(@issue,@article,@showimage),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
