<!DOCTYPE html>
<html>
<head>
  <title>NI</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="container">

		<div id="alerts">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>

		<div id="user_nav">
			<% if user_signed_in? %>
				<% if current_user.try(:admin?) %>
					<b style="color: red;"><%= link_to "A", admin_root_path %></b>
				<% end %>
				<% if current_user.try(:subscriber?) %>
					<b style="color: green;"><%= current_user.subscriber? ? 'S' : '' %></b>
				<% end %>
				Signed in as <%= link_to current_user.username, edit_user_registration_path %>. Not you?
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
			<% end %>
		</div>

		<%= yield %>

	</div>

</body>
</html>
