<!DOCTYPE html>
<html lang="en-AU">
<head>
  <%= display_meta_tags :site => ENV['APP_NAME'], :reverse => true %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag %>
  <!-- BugHerd bug code -->
  <% if current_user %>
  	<%= bugherd_tag :metadata => { :user_id => current_user.id.to_s, :controller => controller.controller_name }, :reporter => { :email => current_user.email, :required => "true" } %>
  <% else %>
  	<%= bugherd_tag %>
  <% end %>
  <!-- Google Analytics tracking code -->
  <%= analytics_init :local => ( Rails.env.development? or Rails.env.test? ) %>
  <%= render :partial => "shared/ga_events" %>
  <%= render :partial => "shared/fb_events" %>
</head>
<body>

	<%= google_tag_manager %>
	
	<div class="container">
	
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="navbar-header pull-left">
	          <a class="brand navbar-brand" href="<%= root_path %>">New Internationalist</a>
	        </div>
	        <div class="navbar-header pull-right">
	        	<div class="btn-group user_nav">
							<% if user_signed_in? %>
							<%= link_to raw("<i class='fa fa-user'></i><span class='nav-username'> #{current_user.username}</span>"), current_user, :class => 'btn btn-success navbar-btn' %>
							<a class="btn btn-success dropdown-toggle navbar-btn" data-toggle="dropdown" href="#"><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<% if current_user.try(:subscriber?) %>
									<li><%= link_to raw("Expiry date:<br />#{current_user.expiry_date.strftime("%e %B, %Y")}"), current_user %></li>
									<li class="divider"></li>
								<% elsif not current_user.parent %>
									<li><%= link_to raw("<i class='fa fa-star'></i> Subscribe"), new_subscription_path %></li>
									<li class="divider"></li>
								<% end %>
								<% if current_user.try(:admin?) %>
									<li><%= link_to raw("<i class='fa fa-pencil'></i> Edit"), edit_admin_user_path(current_user) %></li>
								<% else %>
								<% if not current_user.parent and can? :manage, current_user %>
									<li><%= link_to raw("<i class='fa fa-pencil'></i> Edit"), edit_user_registration_path(current_user) %></li>
								<% end %>
								<% end %>
								<% if current_user.try(:admin?) %>
									<li><%= link_to raw("<i class='fa fa-heart'></i> Admin"), admin_root_path %></li>
								<% end %>
								<% if not current_user.parent and can? :manage, current_user %>
									<li class="divider"></li>
								<% end %>
								<% if session[:auto_signin] %>
									<li><%= link_to "Sign out", users_re_sign_in_path %></li>
								<% else %>
									<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
								<% end %>
							</ul>
							<% else %>
								<%= link_to raw("<span>Sign in</span>"), new_user_session_path, :class => 'btn btn-default navbar-btn sign-in' %><%= link_to raw("<span>Sign up</span>"), new_user_registration_path, :class => 'btn btn-default navbar-btn sign-up' %>
							<% end %>
						</div>
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><%= link_to "Archive", issues_path %></li>
							<% if current_user.nil? %>
								<li><%= link_to "Subscribe", page_path("subscribe") %></li>
							<% elsif not current_user.try(:subscriber?) and not current_user.parent %>
								<li><%= link_to "Subscribe", new_subscription_path %></li>
							<% end %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><%= link_to "Search results", search_path %></li>
									<li><%= link_to "Categories/themes", categories_path %></li>
									<li>
										<form accept-charset="UTF-8" action="/issues" class="form-search" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
                      <input type="text" class="form-control search" id="query" name="query" placeholder="Issue search">
                    </form>
									</li>
									<li>
										<form accept-charset="UTF-8" action="/search" class="form-search" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
                      <input type="text" class="form-control search" id="query" name="query" placeholder="Article search">
                    </form>
									</li>
									<li>
										<% if request.ssl? %>
											<a href="http://ss946.fusionbot.com/cgi-bin/ss_query?rgn=main&sn=157281474">Search our shop</a>
										<% else %>
											<form accept-charset="UTF-8" class="form-search" role="search" action="http://ss946.fusionbot.com/cgi-bin/ss_query" method="get" name="fbsearch" id="fbsearch" type="search" results="5" placeholder="Search the shop">
                        <input type="hidden" name="rgn" value="main">
                        <input type="hidden" name="sn" value="157281474">
                        <input type="text" class="form-control search" title="Search for a product" name="keys" size="20" placeholder="Shop search">
                      </form>
                    <% end %>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Apps <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to raw("<i class='fa fa-apple'></i> iOS app"), page_path("ios") %></li>
									<li><%= link_to raw("<i class='fa fa-play'></i> Android app"), page_path("android") %></li>
									<li role="separator" class="divider"></li>
									<li><%= link_to "All apps", page_path("apps") %></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									More <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to "Help!", page_path("help") %></li>
									<li><a href="http://www.newint.com.au/shop">Shop - Fair Trade on-line shop</a></li>
									<li><a href="http://www.newint.com.au/blog">Blog - Social Justice news</a></li>
									<li><a href="http://www.newint.com.au">Home - New Internationalist Australia home page</a></li>
									<% if current_user and (current_user.try(:subscriber?) or current_user.parent) %>
									<% else %>
										<li class="home-donate"><a>
											<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="GSMBBM2JT2W28">
												<button type="submit" class="btn btn-default btn-xs"><i class="fa fa-heart"></i> Donate!</button>
											</form>
										</a></li>
									<% end %>
								</ul>
							</li>
							<!-- SSL by default now. -->
<!-- 							<li>
								<% if request.ssl? %>
									<% link_to image_tag("icon-lock.png", :alt => "Change to a non-https connection", :title => "Change to a non-https connection", :size => "11x14"), url_for(:only_path => false, :protocol => "http"), :class => "ssl-changer" %>
								<% else %>
									<% link_to image_tag("icon-unlock.png", :alt => "Change to a https connection", :title => "Change to a https connection", :size => "11x14"), url_for(:only_path => false, :protocol => "https"), :class => "ssl-changer" %>
								<% end %>
							</li> -->
						</ul>
<!--
						<form class="navbar-search pull-right">
							<input type="text" class="search-query" placeholder="Search">
						</form>
-->
					</div>
				</div>
			</div>
		</nav>

		<% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert fade in alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>

		<%= yield %>

		<div class="footer">

			<div class="row">
				<div class="col-sm-4">
					<!-- <div class="home-image">
						<%= link_to retina_image_tag('utne-winner.png', :alt => 'Awards New Internationalist magazine has won', :title => 'Awards New Internationalist magazine has won', :width => 75, :height => 96), page_path("awards") %>
					</div> -->
					<p class="brand">New Internationalist</p>
					<% if current_user.try(:subscriber?) or current_user.try(:admin?) %>
						<p>Welcome back to the New Internationalist digital edition. Thanks for subscribing, we really appreciate it. If you have any feedback or suggestions for new features we can add, click the 'send feedback' tab on the bottom right of any page. Enjoy reading the magazine.</p>
					<% else %>
						<p>The <b>New Internationalist</b> is an independent monthly not-for-profit magazine that reports on action for global justice. We believe in putting people before profit, in climate justice, tax justice, equality, social responsibility and human rights for all.</p>
						<div class="home-donate">
							<p>If you like the magazine and support what we do, perhaps you'd like to donate some money to help us reach a wider audience?</p>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="GSMBBM2JT2W28">
								<button type="submit" class="btn btn-default"><i class="fa fa-heart"></i> Donate!</button>
							</form>
						</div>
					<% end %>
				</div>
				<div class="col-sm-4">
					<h5>Site map:</h5>
					<ul>
						<li><% if current_user.nil? %><%= link_to "Subscribe", page_path("subscribe") %><% else %><%= link_to "Subscribe", new_subscription_path %><% end %></li>
						<li><%= link_to "Magazine archive", issues_path %></li>
						<li><%= link_to "Search", search_path %></li>
						<li><%= link_to "Categories", categories_path %></li>
						<li><%= link_to "Mobile applications", page_path("apps") %></li>
						<li><%= link_to "Help", page_path("help") %></li>
						<li><%= link_to "RSS feed", rss_url(format: :xml) %></li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h5>Find us:</h5>
					<ul>
						<li>Twitter: <a href="https://twitter.com/<%= ENV["TWITTER_NAME"] %>">@<%= ENV["TWITTER_NAME"] %></a></li>
						<li>Facebook: <a href="https://facebook.com/<%= ENV["FACEBOOK_PAGE_NAME"] %>">@<%= ENV["FACEBOOK_PAGE_NAME"] %></a></li>
						<li>Google+: <a href="https://plus.google.com/+<%= ENV["GOOGLE_PLUS_NAME"] %>">+<%= ENV["GOOGLE_PLUS_NAME"] %></a></li>
						<li>Instagram: <a href="https://instagram.com/<%= ENV["INSTAGRAM_NAME"] %>">@<%= ENV["INSTAGRAM_NAME"] %></a></li>
			      <li>Youtube: <a href="https://www.youtube.com/user/<%= ENV["YOUTUBE_NAME"] %>/videos"><%= ENV["YOUTUBE_NAME"] %></a></li>
						<li>Apple: <a href="<%= ENV["ITUNES_APP_LINK"] %>">App Store</a></li>
						<li>Android: <a href="<%= ENV["GOOGLE_PLAY_APP_LINK"] %>">Play Store</a></li>
					</ul>
					<h5>Contact us:</h5>
					<ul>
						<li>Email: <a href="mailto:<%= ENV["DEVISE_EMAIL_ADDRESS"] %>?Subject=Question from digital.newint.com.au"><%= ENV["DEVISE_EMAIL_ADDRESS"] %></a></li>
						<li>Phone: +61 8 8232 1563</li>
						<li>15 Austin Street,<br />Adelaide 5000<br />Australia</li>
					</ul>
				</div>
			</div>

			<div class="copyright">
				<p>&copy; Copyright <b>New Internationalist</b> 1973-<%= DateTime.now.year %>. Except where otherwise noted, content on this site is <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">licensed</a> under <a href="http://creativecommons.org">Creative Commons</a>.</p>
				<p>Except where otherwise noted, images on this site are &copy; the attributed photographer/illustrator or representative agency.</p>
			</div>
		</div>

		<%= render :partial => "shared/disqus" %>

	</div>

	<!-- Share buttons
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=<%= ENV["FACEBOOK_APP_ID"] %>";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	END Share buttons -->

</body>
</html>
